{% load i18n render_form num_of_parsed_keywords %}

{% num_of_parsed_keywords as keywordz %}
{% url "contact_form_view" as contact_form_view_url %}

<div>
    <img id="about_img" src="{{ STATIC_URL }}img/infographica_about.jpg" />
</div>

<hr/>

<p>
    <h3>{{ site.domain }}</b> - уникальный инструмент для SEO специалистов, маркетологов и владельцев сайтов</h3>
</p>


<p >
    <i>Анализируйте конкурентов, подбирайте ключевые слова, просматривайте статистику по доменам</i>!
</p>

<hr/>

<a href="#" onclick="return false;" class="question">Как это работает?</a>
<p class="answer"> Мы сканируем миллионы ключевых слов в поисковых системах, находим позиции сайтов в SERP, а также их рекламные объявления.
    Полученные данные - десятки терабайт! - очищаются, обрабатываются, и анализируются.
</p>


<a href="#" onclick="return false;" class="question">Я хочу попробовать!</a>
<p class="answer">Отлично - Вы можете сделать это <b>бесплатно</b> - просто введите какое-нибудь ключевое слово или домен в строку поиска выше, и нажмите Enter.</p>

<a href="#" onclick="return false;" class="question">А лимиты какие-то есть?</a>
<p class="answer"> Да. В настоящий момент есть лимиты на количество поисковых запросов к системе.
    Это сделано, главным образом, для уменьшения нагрузки на сайт - как показала практика, некоторые особо рьяные анонимусы парсят сайт в таких объемах, что это становится больше похоже на DDoS-атаку.
</p>


<a href="#" onclick="return false;" class="question">Как насчет партнерской программы?</a>
<p class="answer"> Она есть. Вы получаете 30% с каждого платежа, который сделают приглашенные Вами пользователи.
    Для получения дополнительной информации зарегистрируйтесь на сайте и перейдите в раздел "Мой профиль".
</p>


<a href="#" onclick="return false;" class="question">Я сделал 1 поисковый запрос, а сайт решил, что 2</a>
<p class="answer"> Поисковые подсказки также учитываются в лимитах. Если Вы хотите растянуть лимиты, просто скопируйте нужный киворд или домен в строку поиска (не набирая его по буквам).</p>


<a href="#"  onclick="return false;" class="question">Я постоянно вижу сообщение о том, что я делаю запросы слишком часто</a>
<p class="answer"> Попробуйте сделать небольшую паузу (секунды достаточно) перед тем, как нажимать Enter или кнопку {% trans 'Search' %}. Поисковые подсказки также учитываются в лимитах.</p>


<a href="#" onclick="return false;" class="question">Сколько ключевых слов в базе?</a>
<p class="answer"> В настоящий момент <b>{{ keywordz }}</b>, и эта цифра будет расти!</p>


<a href="#" onclick="return false;" class="question">Насколько точны данные?</a>
<p class="answer"> Мы показываем большую часть всех ключевых слов, по которым виден сайт в соответствующем регионе и поисковой системе. Показывать абсолютно все ключевые слова невозможно по следующим причинам:
    <br/></br>
    - существует огромное количество низкочастотных ключевых слов, более чем 200 миллионов,
    <br/></br>
    - сканировать такой объем ключевых слов невозможно - парсинг это дорогая операция, и ни один бизнес просто не смог бы оставаться рентабельным, сканируя такие объемы ключевых слов,
    <br/></br>
    - ситуация меняется постоянно, каждый день появляются новые ключевые слова (допустим, выходит новый телесериал),
    <br/></br>
    поэтому <i>добиться 100% точности невозможно в принципе. Это фундаментальное ограничение. Однако мы постоянно работаем над нашей базой, и предоставляем нашим пользователям максимально объективную на данный момент картину.</i>
</p>


<a href="#" onclick="return false;" class="question">Как часто обновляются данные?</a>
<p class="answer"> В настоящий момент сервис находится в бета-версии и данные обновляются приблизительно раз в полтора месяца. Однако у нас уже готов весь необходимый функционал для ускорения этого процесса. В дальнейшем мы будем обновлять базу гораздо чаще.</p>


<a href="#" onclick="return false;" class="question">Какие поисковые системы обрабатываются?</a>
<p class="answer"> В настоящий момент мы обрабатываем данные Яндекса (выдача региона "Москва"). Метаданные ключевых слов - частотность, стоимость и т.д. - собираются по региону "Россия". Это дает наиболее реальную картину для того или иного сайта, ведь, как правило,
    видимость сайта выходит за пределы одного-единственного региона.
</p>


<a href="#" onclick="return false;" class="question">Какая глубина парсинга выдачи?</a>
<p class="answer">Мы парсим 2 первые страницы SERP. Этого вполне достаточно для составления картины. Живые люди очень редко заходят дальше 2-ой страницы, следовательно, "живого" трафика с "глубоких" позиций практически нет.</p>


<a href="#" onclick="return false;" class="question">Вы используете Яндекс.XML?</a>
<p class="answer"> Нет. Мы парсим прямую выдачу. Наши роботы "видят" сайт в точности так, как это делает обычный его пользователь.</p>


<a href="#" onclick="return false;" class="question">Я хочу удалить свой сайт из вашей базы</a>
<p class="answer"> К сожалению для Вас (и к счастью для остальных), это сделать невозможно.</p>


<a href="#" onclick="return false;" class="question">Я нашел неточные данные!</a>
<p class="answer">Дело в том, что 100% точные данные показать невозможно. Объем поиска по тому или иному ключевому слову, его стоимость, SERP-выдача и все остальное - все это меняется постоянно и непрерывно.
    Даже сами поисковые системы не могут предсказать точный бюджет или CTR по Вашим рекламным объявлениям. Однако, мы постоянно стремимся улучшать качество аналитики.</p>


<a href="#" onclick="return false;" class="question">Сайт глючит</a>
<p class="answer"> Если Вы нашли какой-то баг на сайте - пожалуйста, <a href='{{ contact_form_view_url }}'>сообщите об этом нам</a>.</p>


<a href="#" onclick="return false;" class="question">У меня есть вопрос\предложение</a>
<p class="answer"> Пожалуйста, воспользуйтесь <a href='{{ contact_form_view_url }}'>формой обратной связи</a>.</p>

<style type="text/css">
    .question {
        font-weight: bold;
        display: block;
    }
    a.question {
        text-decoration: underline;
        /* border-bottom:1px dashed #026b9c; */
    }
    .answer {
        display: none;
        padding-bottom:20px;
    }
</style>


<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
    var _width = window.innerWidth;
    if (_width < 1200) $('#about_img').css('width', 800);
    $('a.question').click(function() {
        $(this).next().toggle()
    })
</script>