{% load i18n %}

    <div class="sidebar">
        <div class="sidebar-dropdown"><a href="#">{% trans 'Navigation' %}</a></div>
        <!--- Sidebar navigation -->
        <!-- If the main navigation has sub navigation, then add the class "has_sub" to "li" of main navigation. -->
        <ul id="nav">
            <!-- Main menu with font awesome icon -->
            <li><a href="/search/"><i class="icon-search"></i> {% trans 'Search' %}</a>
                <!-- Sub menu markup 
                        <ul>
                        <li><a href="#">Submenu #1</a></li>
                        <li><a href="#">Submenu #2</a></li>
                        <li><a href="#">Submenu #3</a></li>
                        </ul>-->
            </li>
            <li><a href="{% comment %}{% url 'compare_domains_view' %}{% endcomment %}"><i class="icon-signal"></i> {% trans 'Compare domains' %}</a></li>
            <li><a href="{% comment %}{% url 'yandex_suggestions_view' %}{% endcomment %}"><i class="icon-question-sign"></i> {% trans 'Yandex.Suggestions' %}</a></li>
            <li><a href="{% comment %}{% url 'accounts_view' %}{% endcomment %}"><i class="icon-shopping-cart"></i> {% trans 'Prices' %}</a></li>
            <li><a href="{% comment %}{% url 'profile_view' %}{% endcomment %}"><i class="icon-user"></i> {% trans 'My profile' %}</a></li>
            <li><a href="{% comment %}{% url 'full_export_list_view' %}{% endcomment %}"><i class="icon-circle-arrow-down"></i> {% trans 'My reports' %}</a></li>
            <li><a href="{% comment %}{% url 'news_list' %}{% endcomment %}"><i class="icon-thumbs-up"></i> {% trans 'News' %}</a></li>
            <li><a href="{% comment %}{% url 'profile_view' %}#invites{% endcomment %}"><i class="icon-money"></i> {% trans 'Affiliate program' %}</a></li>
            <li><a href="{% comment %}{% url 'about' %}{% endcomment %}"><i class="icon-font"></i> {% trans 'About' %}</a></li>
            <li><a href="{% comment %}{% url 'api_docs' %}{% endcomment %}"><i class="icon-asterisk"></i> {% trans 'API' %}</a></li>
            <li><a href="{% comment %}{% url 'ratings' %}{% endcomment %}"><i class="icon-th-list"></i> {% trans 'Ratings' %}</a></li>
            <li><a href="{% comment %}{% url 'contact_form_view' %}{% endcomment %}"><i class="icon-envelope"></i> {% trans 'Contacts' %}</a></li>

            {% comment %}
            <li class="has_sub"><a href="#"><i class="icon-file-alt"></i> Advertising Research<span class="pull-right"><i class="icon-chevron-right"></i></span></a>
                <ul>
                    <li><a href="post.html">Post</a></li>
                    <li><a href="login.html">Login</a></li>
                    <li><a href="register.html">Register</a></li>
                    <li><a href="support.html">Support</a></li>
                    <li><a href="invoice.html">Invoice</a></li>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="gallery.html">Gallery</a></li>
                </ul>
            </li>
            <li class="has_sub"><a href="#"><i class="icon-file-alt"></i> Ad Sense <span class="pull-right"><i class="icon-chevron-right"></i></span></a>
                <ul>
                    <li><a href="media.html">Media</a></li>
                    <li><a href="statement.html">Statement</a></li>
                    <li><a href="error.html">Error</a></li>
                    <li><a href="error-log.html">Error Log</a></li>
                    <li><a href="calendar.html">Calendar</a></li>
                    <li><a href="grid.html">Grid</a></li>
                </ul>
            </li>
            <li class="has_sub"><a href="#"><i class="icon-list-alt"></i> Back Links<span class="pull-right"><i class="icon-chevron-right"></i></span></a>
                <ul>
                    <li><a href="widgets1.html">Widgets #1</a></li>
                    <li><a href="widgets2.html">Widgets #2</a></li>
                    <li><a href="widgets3.html">Widgets #3</a></li>
                </ul>
            </li>
            <li class="has_sub"><a href="#"><i class="icon-list-alt"></i> Keyword Research <span class="pull-right"><i class="icon-chevron-right"></i></span></a>
                <ul>
                    <li><a href="widgets1.html">Widgets #1</a></li>
                    <li><a href="widgets2.html">Widgets #2</a></li>
                    <li><a href="widgets3.html">Widgets #3</a></li>
                </ul>
            </li>
            <li class="has_sub"><a href="#"><i class="icon-list-alt"></i> Tools <span class="pull-right"><i class="icon-chevron-right"></i></span></a>
                <ul>
                    <li><a href="widgets1.html">Widgets #1</a></li>
                    <li><a href="widgets2.html">Widgets #2</a></li>
                    <li><a href="widgets3.html">Widgets #3</a></li>
                </ul>
            </li>
            <li class="has_sub"><a href="#"><i class="icon-list-alt"></i> Ranks <span class="pull-right"><i class="icon-chevron-right"></i></span></a>
                <ul>
                    <li><a href="widgets1.html">Widgets #1</a></li>
                    <li><a href="widgets2.html">Widgets #2</a></li>
                    <li><a href="widgets3.html">Widgets #3</a></li>
                </ul>
            </li>
            {% endcomment %}
        </ul>
    </div>