{% extends 'base.html' %}


{% block path %}
	<a href='/'>Главная</a> → <a href='/site/'>Сайты</a> → <a href='/site/add/'>Добавить сайты</a> 
{% endblock %}


{% block title %}Добавление сайтов{% endblock %}

{% block h1 %}Добавление сайтов{% endblock %}

{% block content %}

        <div class="container-fluid">
    <div class="row-fluid adjust">
{% spaceless %}


<form method='post' action='.'>{% csrf_token %}

    Сайты:<br />
    {{ form.sites }}<br/>
    <button type='submit' class="btn btn-success">Добавить</button>

</form>
<p class="helptext">*По одному сайту на каждую строку</p>
<script>
$('#id_sites').css('width', '600px');
</script>

{% endspaceless %}
    </div>
    </div>
{% endblock %}
