{% extends 'base.html' %}


{% block path %}
    <a href='/'>Главная</a> → <a href='/site/'>Сайты</a> → <a href='/site/add/'>Добавить сайт</a>
{% endblock %}


{% block title %}Добавление сайта{% endblock %}

{% block h1 %}Добавление сайта{% endblock %}

{% block content %}
    {% spaceless %}
<div class="span6">
        <div class="widget">
            <div class="widget-head">
                <div class="pull-left">Добавление сайта</div>
                <div class="widget-icons pull-right"> <a href="" class="wminimize"><i class="icon-chevron-up"></i></a> <a href="" class="wclose"><i class="icon-remove"></i></a> </div>
                <div class="clearfix"></div>
            </div>
            <div class="widget-content">
                <form method='post' action='.' class="form-inline" style="text-align: center;
                margin: 10px;"
                        >{% csrf_token %}
                        {{ form.host }}
                        <tr><td></td><td><button type='submit'
                                                 class="btn btn-success
                                                 ">Добавить</button></td></tr>
                    <p>Например, ya.ru, google.com и т.п</p>
                </form>
            </div>
        </div>
</div>
    {% endspaceless %}
{% endblock %}
