<!DOCTYPE html>
<html lang="en">
<head>
    {% comment %}BASE TEMPLATE WITH SEARCH BOX{% endcomment %}
    {% load i18n %}

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <!-- Title and other stuffs -->
    <title>{% block title %}{% endblock %} - {{ site.domain }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="{{ STATIC_URL }}js/jquery.js"></script>

    <!-- Stylesheets -->
    <link href="{{ STATIC_URL }}style/bootstrap.css" rel="stylesheet">
    <!-- Font awesome icon -->
    <link rel="stylesheet" href="{{ STATIC_URL }}style/font-awesome.css">
    <!-- jQuery UI -->
    <link rel="stylesheet" href="{{ STATIC_URL }}style/jquery-ui.css">
    <!-- Calendar -->
    <link rel="stylesheet" href="{{ STATIC_URL }}style/fullcalendar.css">
    <!-- prettyPhoto -->
    <link rel="stylesheet" href="{{ STATIC_URL }}style/prettyPhoto.css">
    <!-- Star rating -->
    <link rel="stylesheet" href="{{ STATIC_URL }}style/rateit.css">
    <!-- Date picker -->
    <link rel="stylesheet" href="{{ STATIC_URL }}style/bootstrap-datetimepicker.min.css">
    <!-- CLEditor -->
    <link rel="stylesheet" href="{{ STATIC_URL }}style/jquery.cleditor.css">
    <!-- Uniform -->
    <link rel="stylesheet" href="{{ STATIC_URL }}style/uniform.default.css">
    <!-- Bootstrap toggle -->
    <link rel="stylesheet" href="{{ STATIC_URL }}style/bootstrap-toggle-buttons.css">
    <!-- Main stylesheet -->
    <link href="{{ STATIC_URL }}style/style.css" rel="stylesheet">
    <!-- Widgets stylesheet -->
    <link href="{{ STATIC_URL }}style/widgets.css" rel="stylesheet">
    <!-- Responsive style (from Bootstrap) -->
    <link href="{{ STATIC_URL }}style/bootstrap-responsive.css" rel="stylesheet">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">

    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Caption' rel='stylesheet' type='text/css'>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

    <script src='{{ STATIC_URL }}js/jquery-dynamic-form.js'></script>

    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap-select.css">
    <script src="{{ STATIC_URL }}bootstrap-select.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap-tooltip.js"></script>

    {% comment %}
    <script src="{{ STATIC_URL }}js/black_overlord.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}style/black_overlord.css">
    {% endcomment %}

    <style>
        input[name=q] {width:200px;}
    </style>

    <!-- HTML5 Support for IE -->
        <!--[if lt IE 9]>
            <script src="{{ STATIC_URL }}js/html5shim.js"></script>
            <![endif]-->
            <!-- Favicon -->
            <link rel="shortcut icon" href="{{ STATIC_URL }}img/search_glass_icon.png">

            <style>
                .ui-widget {
                    font-size:12px;
                }
            </style>

            <script type='text/javascript'>
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        };

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        };
        function sameOrigin(url) {
            // test that a given url is a same-origin URL
            // url could be relative or scheme relative or absolute
            var host = document.location.host; // host + port
            var protocol = document.location.protocol;
            var sr_origin = '//' + host;
            var origin = protocol + sr_origin;
            // Allow absolute or scheme relative URLs to same origin
            return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                // or any other URL that isn't scheme relative or absolute i.e relative.
                !(/^(\/\/|http:|https:).*/.test(url));
            };
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                    // Send the token to same-origin, relative URLs only.
                    // Send the token only if the method warrants CSRF protection
                    // Using the CSRFToken value acquired earlier
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }
        });

            function export_to_xls(obj) {
                var csrftoken = getCookie('csrftoken');
                $.ajax({
                    url: '/export-to-xls/',
                    type: 'POST', // GET is default
                    data: {
                        table: $(obj).parent().parent().find('table').html(),
                        path: '{{ request.get_full_path }}'
                    },
                    success: function(msg) {
                        window.location = msg;
                    },
                    error: function(msg) {}
                });
                return false;
            };

            $(function() {
                $(".exporter-to-xls").click(function() {
                    export_to_xls(this);
                });
            });
        </script>

        {% block head_extra %}{% endblock %} 
    </head>
    <body>

        <!-- Header starts -->
        <header>
            <div class="container-fluid">
                <div class="row-fluid">
                    <!-- Logo section -->
                    <div class="span2">
                        <!-- Logo. -->
                        <div class="logo">
                            <h1><a href="/">Wordstat<span class="bold">.IO</span></a></h1>
                            <p class="meta">{% trans 'internet marketing solution' %}</p>
                        </div>
                        <!-- Logo ends -->
                    </div>
                    <!-- Search section -->
                    <div class="span5 searchTop">
                        <form method="get" id="searchform" action="/search/" class="form-search" style="float: left;" >
                            <input type="text" name="q" id="s" class="input-medium fieldgap1" {% if request.GET.q %}value="{{ request.GET.q }}"{% endif %} placeholder="{% trans 'Enter website or keyword' %}">
                            <select class="selectpicker " name='search' data-width="100px">
                                <option value="auto" {% if request.GET.search == 'auto' %}selected='selected'{% endif %}>{% trans 'auto' %}</option>
                                <option value="search_keyword" {% if request.GET.search == 'search_keyword' %}selected='selected'{% endif %}>{% trans 'keyword' %}</option>
                                <option value="search_domain" {% if request.GET.search == 'search_domain' %}selected='selected'{% endif %}>{% trans 'domain' %}</option>
                            </select>
                            <button type="submit" class="btn btn-info btn-yellow" style="margin-right: 20px;">{% trans 'Search' %}</button>
                        </form>
                    </div>
                    <div class="span5 searchTop" style="margin-left: -10px;">
                     <button href="#" class="btn btn-large active btn-disabled">
                   {% trans 'Queries remain' %}: {{ rate_limit.remaining }} {% trans 'Account type' %}:
                        {% if not request.user.is_authenticated %}
                            {% trans 'anonymous' %}
                        {% else %}
                            {% if request.user.profile.account %}
                                {{ request.user.profile.account.name }}
                            {% else %}
                                {% trans 'registered' %}
                            {% endif %}
                        {% endif %}
                    &nbsp; &nbsp;
                    {% comment %}
                        {% if 'free' in request.user.profile.account.name|lower %}
                            <a href="{% url 'accounts_view' %}" style="color: red">{% trans 'Upgrade account' %}</a>
                        {% endif %}
                    {% endcomment %}
               
            </button>
       {% if request.user.is_authenticated %}
            <ul class="nav pull-right">
                <li class="dropdown pull-right">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#"> <i class="icon-user"></i> {{ request.user.username }} <b class="caret"></b> </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'profile_view' %}"><i class="icon-user"></i> {% trans 'Profile' %}</a></li>
                        <li><a href="{% url 'full_export_list_view' %}"><i class="icon-circle-arrow-down"></i> {% trans 'Reports' %}</a></li>
                        {% comment %}<li><a href="#"><i class="icon-cogs"></i> {% trans 'Settings' %}</a></li>{% endcomment %}
                        <li><a href="{% url 'logout' %}"><i class="icon-off"></i> {% trans 'Logout' %}</a></li>
                    </ul>
                </li>
            </ul>
            {% else %}
            <a href='{% comment %}{% url "auth_login" %}{% endcomment %}'><button type="submit" class="btn btn-success btn-login" >{% trans 'Login' %}</button></a>
            &nbsp; &nbsp;
            <a href='{% comment %}{% url "accounts_view" %}{% endcomment %}'><button type="submit" class="btn btn-info btn-register" >{% trans 'Register' %}</button></a>
            {% endif %}
            &nbsp; &nbsp;
            {% comment %}
            {% include '_select_language.html' %}
            {% endcomment %}
        </div>


        <script>
            $('.selectpicker').selectpicker('show');
            $('.selectpicker').parent().css('padding', 0).css('margin', 0);
            $('.selectpicker').parent().find('button.selectpicker').css('height', 35);
        </script>
    </div>
</div>
</header>
<!-- Header ends -->
<!-- Main content starts -->
<div class="content">
    <!-- Sidebar -->
    {% include '_sidebar.html' %}
    <!-- Sidebar ends -->
    <!-- Main bar -->

    <div class="mainbar">
        <div class="navbar navbar-inner">
            <a class="brand" href="#"><i class="icon-file-alt"></i> {% block h1 %}{% endblock %} </a>
            <h2  style="float: right; color: white"><a href="" style="color: white;"><i class="icon-home"></a></i></h2>
        </div>

        <!-- Page heading ends -->
        <!-- Matter -->
        <div class="matter">
            {% if messages %}
            <div class='container-fluid'>
                <div class="row-fluid">
                    <div class="span12">
                        <ul class="messages">
                            {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}{% trans 'Important' %}: {% endif %}
                                {{ message }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}

        {% block content %}{% endblock %}

        </div>
        <!-- Matter ends -->
    </div>
    <!-- Mainbar ends -->
    <div class="clearfix"></div>

    </div>
    <!-- Matter ends -->
</div>
<!-- Mainbar ends -->
<div class="clearfix"></div>
</div>

{% if request.user.is_superuser %}
<p align='center'>Execution time: {{ execution_time }} seconds</p>
{% endif %}
<!-- Content ends -->
<!-- Footer starts -->


            <div class="copy">
                <!-- Copyright info -->
                    Copyright &copy; 2013-{% now "Y" %}
                    | <a href="http://{{ site.domain }}">{{ site.domain }}</a>
                    | {% comment %}{% include '_mailto.html' %}{% endcomment %}
            </div>


<!-- Footer ends -->
<!-- Scroll to top -->
<span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span>
<script src="{{ STATIC_URL }}js/bootstrap.js"></script>
<!-- Bootstrap -->
<script src="{{ STATIC_URL }}js/jquery-ui-1.9.2.custom.min.js"></script>
<!-- jQuery UI -->
<script src="{{ STATIC_URL }}js/fullcalendar.min.js"></script>
<!-- Full Google Calendar - Calendar -->
<script src="{{ STATIC_URL }}js/jquery.rateit.min.js"></script>
<!-- RateIt - Star rating -->
<script src="{{ STATIC_URL }}js/jquery.prettyPhoto.js"></script>
<!-- prettyPhoto -->
<!-- jQuery Flot -->
<script src="{{ STATIC_URL }}js/excanvas.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery.flot.js"></script>
<script src="{{ STATIC_URL }}js/jquery.flot.resize.js"></script>
<script src="{{ STATIC_URL }}js/jquery.flot.pie.js"></script>
<script src="{{ STATIC_URL }}js/jquery.flot.stack.js"></script>
<!-- jQuery Notification - Noty -->
<script src="{{ STATIC_URL }}js/jquery.noty.js"></script>
<!-- jQuery Notify -->
<script src="{{ STATIC_URL }}js/themes/default.js"></script>
<!-- jQuery Notify -->
<script src="{{ STATIC_URL }}js/layouts/bottom.js"></script>
<!-- jQuery Notify -->
<script src="{{ STATIC_URL }}js/layouts/topRight.js"></script>
<!-- jQuery Notify -->
<script src="{{ STATIC_URL }}js/layouts/top.js"></script>
<!-- jQuery Notify -->
<!-- jQuery Notification ends -->
<script src="{{ STATIC_URL }}js/sparklines.js"></script>
<!-- Sparklines -->
<script src="{{ STATIC_URL }}js/jquery.cleditor.min.js"></script>
<!-- CLEditor -->
<script src="{{ STATIC_URL }}js/bootstrap-datetimepicker.min.js"></script>
<!-- Date picker -->
<script src="{{ STATIC_URL }}js/jquery.uniform.min.js"></script>
<!-- jQuery Uniform -->
<script src="{{ STATIC_URL }}js/jquery.toggle.buttons.js"></script>
<!-- Bootstrap Toggle -->
<script src="{{ STATIC_URL }}js/filter.js"></script>
<!-- Filter for support page -->
<script src="{{ STATIC_URL }}js/custom.js"></script>
<!-- Custom codes -->
<script src="{{ STATIC_URL }}js/charts.js"></script>
<!-- font awesome -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<script>
    /* autocomplete */
    $(function() {
        $("#s").autocomplete({
          source: '/autocomplete/',
          minLength: 1
      });
    });
</script>


<!-- Charts & Graphs -->
<!-- Scripts for this page -->
<script type="text/javascript">

    $(function () {

        /* Bar Chart starts */

        var d1 = [];
        for (var i = 0; i <= 20; i += 1)
            d1.push([i, parseInt(Math.random() * 30)]);

        var d2 = [];
        for (var i = 0; i <= 20; i += 1)
            d2.push([i, parseInt(Math.random() * 30)]);


        var stack = 0, bars = true, lines = false, steps = false;

        function plotWithOptions() {
            $.plot($("#bar-chart"), [ d1, d2 ], {
                series: {
                    stack: stack,
                    lines: { show: lines, fill: true, steps: steps },
                    bars: { show: bars, barWidth: 0.8 }
                },
                grid: {
                    borderWidth: 0, hoverable: true, color: "#777"
                },
                colors: ["#ff6c24", "#ff2424"],
                bars: {
                    show: true,
                    lineWidth: 0,
                    fill: true,
                    fillColor: { colors: [ { opacity: 0.9 }, { opacity: 0.8 } ] }
                }
            });
        }

        if ($('#bar-chart').length) { plotWithOptions(); };

        $(".stackControls input").click(function (e) {
            e.preventDefault();
            stack = $(this).val() == "With stacking" ? true : null;
            plotWithOptions();
        });
        $(".graphControls input").click(function (e) {
            e.preventDefault();
            bars = $(this).val().indexOf("Bars") != -1;

            lines = $(this).val().indexOf("Lines") != -1;
            steps = $(this).val().indexOf("steps") != -1;
            plotWithOptions();
        });

        /* Bar chart ends */

    });
/* Curve chart starts */

{% comment %} JS ERRORS HAPPENED! IF YOU NEED CHARTS - THEN DEBUG!
$(function () {
    var sin = [], cos = [];
    for (var i = 0; i < 14; i += 0.5) {
        sin.push([i, Math.sin(i)]);
        cos.push([i, Math.cos(i)]);
    }

    var plot = $.plot($("#curve-chart"),
     [ { data: sin, label: "sin(x)"}, { data: cos, label: "cos(x)" } ], {
         series: {
             lines: { show: true, fill: true},
             points: { show: true }
         },
         grid: { hoverable: true, clickable: true, borderWidth:0 },
         yaxis: { min: -1.2, max: 1.2 },
         colors: ["#1eafed", "#1eafed"]
     });

    function showTooltip(x, y, contents) {
        $('<div id="tooltip">' + contents + '</div>').css( {
            position: 'absolute',
            display: 'none',
            top: y + 5,
            left: x + 5,
            border: '1px solid #000',
            padding: '2px 8px',
            color: '#ccc',
            'background-color': '#000',
            opacity: 0.9
        }).appendTo("body").fadeIn(200);
    }

    var previousPoint = null;
    $("#curve-chart").bind("plothover", function (event, pos, item) {
        $("#x").text(pos.x.toFixed(2));
        $("#y").text(pos.y.toFixed(2));

        if ($("#enableTooltip:checked").length > 0) {
            if (item) {
                if (previousPoint != item.dataIndex) {
                    previousPoint = item.dataIndex;

                    $("#tooltip").remove();
                    var x = item.datapoint[0].toFixed(2),
                    y = item.datapoint[1].toFixed(2);

                    showTooltip(item.pageX, item.pageY,
                        item.series.label + " of " + x + " = " + y);
                }
            }
            else {
                $("#tooltip").remove();
                previousPoint = null;
            }
        }
    });

    $("#curve-chart").bind("plotclick", function (event, pos, item) {
        if (item) {
            $("#clickdata").text("You clicked point " + item.dataIndex + " in " + item.series.label + ".");
            plot.highlight(item.series, item.datapoint);
        }
    });

});
{% endcomment %}

/* Curve chart ends */

$(function() {
    //$('input[name="q"]').parent().blacken();
    if( $('input[name="query"]').length ) {
        $('input[name="query"]').focus();
    } else {
        $('input[name="q"]').focus();
    }
});

jQuery(function ($) {
    $("*[data-toggle=tooltip]").tooltip({container: 'body'});
});

</script>

<script>
    if(window.innerWidth < 1100) $('input[name=q]').css('width', '100px');

    {% comment %}$('.logo > h1').append("<div style='position:absolute; top: 54px; left:194px; z-index:5000'><img width='36' src='{{ STATIC_URL }}img/beta.png'/></div>");{% endcomment %}
    {% comment %}$('[data-toggle="tooltip"]').append("<img class='pull-right' src='http://icons.iconarchive.com/icons/visualpharm/icons8-metro-style/32/System-Help-icon.png' style='height:16px;' />");{% endcomment %}

    $('[data-toggle="tooltip"]').append("<img class='pull-right' src='{{ STATIC_URL }}img/icon_help.png' style='height:14px; position:relative; top:3px' />");

    //$('[data-toggle="tooltip"]').css('background', 'no-repeat right url(http://icons.iconarchive.com/icons/visualpharm/must-have/16/Help-icon.png)');
</script>
{% comment %}
{% include '_piwik.html' %}
{% endcomment %}
</body>
</html>
