{% extends 'base.html' %}


{% block path %}
    <a href='/'>Главная</a> → <a href='/site/'>Сайты</a>
{% endblock %}


{% block title %}Все сайты{% endblock %}

{% block h1 %} Все сайты {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid adjust">
            {% spaceless %}

                {% if not sites %}
                    <p>Вы не добавили ни одного сайта.</p>
                {% else %}
                    <div class="widget">
                        <div class="widget-head">
                            <div class="pull-left">События за прошедшие сутки<a href='#' onclick="showHelp(10); return false;" class='help1'><img src='{{ MEDIA_URL }}icons/help_min.png' /></a></div>
                            <div class="widget-icons pull-right"> <a href="" class="wminimize"><i class="icon-chevron-up"></i></a> <a href="" class="wclose"><i class="icon-remove"></i></a> </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="widget-content">
                            <table class="table table-bordered table-hover all-center">
                                <tbody>
                                <tr>
                                    <td>Сайт</td>
                                    <td>
                                        Падение
                                    </td>
                                    <td>
                                        Рост
                                    </td>
                                </tr>
                                {% for site in sites %}
                                    <tr class="{% cycle '' 'odd' %}">
                                        <td><a href='{{ site.get_absolute_url }}'>{{ site.host }}</a></td>
                                        <td style='color:red'>
                                            {% with site.get_down_queries_yandex|length as dy %}
                                                {% with site.get_down_queries_google|length as dg %}
                                                    {% if dy %}<img src='{{ MEDIA_URL }}icons/yandex.gif'
                                                                    class='arrow1' /> {{ dy }}
                                                    {% else %}0{% endif %}
                                                    {% if dg %}<img src='{{ MEDIA_URL }}icons/google.gif' class='arrow1' /> {{ dg }}{% else %}0{% endif %}
                                                {% endwith %}
                                            {% endwith %}
                                        </td>
                                        <td style='color:green'>
                                            {% with site.get_up_queries_yandex|length as uy %}
                                                {% with site.get_up_queries_google|length as ug %}
                                                    {% if uy %}<img src='{{ MEDIA_URL }}icons/yandex.gif' class='arrow1' /> {{ uy }}{% else %}0{% endif %}
                                                    {% if ug %}<img src='{{ MEDIA_URL }}icons/google.gif' class='arrow1' /> {{ ug }}{% else %}0{% endif %}
                                                {% endwith %}
                                            {% endwith %}
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>

                        </div>
                    </div>


                {% endif %}

            {% endspaceless %}
        </div></div>
{% endblock %}
