{% extends 'base.html' %}



{% block title %}Редактирование запросов сайта {{ site.host }}{% endblock %}
{% block h1 %}Редактирование запросов сайта {{ site.host }}{% endblock %}


{% block content %}

        <div class="container-fluid">
    <div class="row-fluid adjust">
{% spaceless %}


<form method='post' action='.'>{% csrf_token %}

    Запросы:<br />
    {{ form.queries }}<br/>
    <button type='submit' class="btn btn-success">Сохранить</button>

</form>
<p class="helptext">*По одному запросу на каждую строку</p>
<script>
$('#id_queries').css('width', '600px');
</script>

{% endspaceless %}
    </div>
    </div>
{% endblock %}
