{% extends 'base.html' %}


{% block path %}
    <a href='/'>Главная</a> → <a href='/site/'>Сайты</a> → <a href='/site/{{ site.host }}/edit/'>Редактирование сайта {{ site.host }}</a>
{% endblock %}



{% block title %}Изменить сайт{% endblock %}

{% block h1 %}Изменить сайт{% endblock %}

{% block content %}
    {% spaceless %}
        <div class="span6">
            <div class="widget">
                <div class="widget-head">
                    <div class="pull-left">Изменить сайт</div>
                    <div class="widget-icons pull-right"> <a href="" class="wminimize"><i class="icon-chevron-up"></i></a> <a href="" class="wclose"><i class="icon-remove"></i></a> </div>
                    <div class="clearfix"></div>
                </div>
                <div class="widget-content">
                    <form method='post' action='.' class="form-inline" style="text-align: center;
                margin: 10px;"
                            >{% csrf_token %}
                        {{ form.host }}
                        <tr><td></td><td><button type='submit' class="btn
                        btn-success">Сохранить</button></td></tr>
                        <p>Например, ya.ru, google.com и т.п</p>
                    </form>
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock %}