{% extends 'base.html' %}


{% block path %}
	<a href='/'>Главная</a> → <a href='/site/'>Сайты</a> → <a href='{{ site.get_absolute_url }}'>{{ site.host }}</a> → <a href='/site/{{ site.host }}/edit-query/{{ query.pk }}/'>Редактирование запроса «{{ query.query }}»</a>
{% endblock %}


{% block title %}Редактирование запроса{% endblock %}

{% block h1 %}Редактирование запроса{% endblock %}

{% block content %}
    <div class="container-fluid">
    <div class="row-fluid adjust">
    {% spaceless %}
        <script src='{{ MEDIA_URL }}js/jquery.autocomplete.min.js' type='text/javascript'></script>

        <form method='post' action='.'>{% csrf_token %}
            <table  cellpadding='0' cellspacing='0'>
                {{ form.as_p }}
                <tr><td></td><td><button type='submit' class="btn
                btn-success">Сохранить</button></td></tr>
            </table>
        </form>

        <script>
            $("#id_region_str").autocomplete('/regions/ac/', {'minChars':2});
        </script>
    {% endspaceless %}





    </div>
    </div>
{% endblock %}
