<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Позиции сайта {{ site.host }}</title>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/tableSorting/demo_table.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/jquery.autocomplete.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}galleryscript/skin-white/skin.css" />
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/redmond/jquery-ui-1.8.custom.css" />

<script src='{{ MEDIA_URL }}js/jquery.js'></script>
<script src='{{ MEDIA_URL }}js/jquery.dataTables.min.js'></script>
<script src='{{ MEDIA_URL }}js/jquery.fadetoggle.js'></script>
<script src='{{ MEDIA_URL }}galleryscript/wpzgallery.js'></script>
<script src='{{ MEDIA_URL }}js/jquery-ui-1.8.custom.min.js'></script>
<script src='{{ MEDIA_URL }}js/flot/jquery.flot.js'></script>

{% load pagination %}

    {% comment %}
{% load comments %}
{% endcomment %}
{% load sub %}


<script type='text/javascript'>
    $(document).ready(function(){
		WP('view_help').newwin();
		$('#positions_table').dataTable({
				"bStateSave": true,
				"iCookieDuration": 60*60*24*30,
				"bPaginate": false,
				"bLengthChange": true,
				"bFilter": true,
				"bSort": true,
				"bInfo": false,
				"bAutoWidth": false
		});
    });
	function showHelp(hint_id) {
		WP('view_help').param({ html:'<iframe id="iframe_view_help" width="600" height="400" src="http://localhost:8000/hint/'+hint_id+'/" frameborder="no"></iframe>', dragable:false }).show();
	}
</script>

</head>

<body>

{% spaceless %}

<h1 style='text-align:center; margin:20px; border:0; font-size:24px'>{{ site.host|upper }}</h1>

<h2>Диапазон дат <a href='#' onclick="showHelp(1); return false;" class='help1'><img src='{{ MEDIA_URL }}icons/help_min.png' /></a></h2>
<div style="text-align:center">
	<form method='GET' action='.'>
		<ul class='formlist1'>
			{{ form.as_ul }}
			<li><button type='submit'>Применить</button></li>
		</ul>
	</form>
</div>

<script type="text/javascript">
	jQuery(function() {
		jQuery("#id_date_from").datepicker({ dateFormat: 'dd/mm/yy' });
		jQuery("#id_date_to").datepicker({ dateFormat: 'dd/mm/yy' });
	});
</script>



<h2>Эффективные показы за выбранный период <a href='#' onclick="showHelp(2); return false;" class='help1'><img src='{{ MEDIA_URL }}icons/help_min.png' /></a></h2>
<p align='center'>Показы: {{ effective_shows }}, Дней: {{ total_days }}</p>



<h2>Показатели сайта <a href='#' onclick="showHelp(3); return false;" class='help1'><img src='{{ MEDIA_URL }}icons/help_min.png' /></a></h2>

<table class='table8' cellpadding='0' cellspacing='0'>
	<tr>
		<th>Индексация Яндекс</th><th class='table_row1'>Индексация Google</th><th class='table_row1'>ТИЦ</th><th class='table_row1'>PR</th><th class='table_row1'>Бэклинки</th>
	</tr>
	<tr>
		<td>
			{{ indexed_yandex.from.indexed }} → {{ indexed_yandex.to.indexed }}
			{% if indexed_yandex.to.indexed != indexed_yandex.from.indexed %}
				{% if indexed_yandex.to.indexed != None and indexed_yandex.from.indexed != None %}
						{% if indexed_yandex.to.indexed > indexed_yandex.from.indexed %}
							(<span class='moving_green'>+{{ indexed_yandex.to.indexed|sub:indexed_yandex.from.indexed|floatformat }} <img src='{{ MEDIA_URL }}up.png' class='arrow1' /></span>)
						{% endif %}
						{% if indexed_yandex.to.indexed < indexed_yandex.from.indexed %}
							(<span class='moving_red'>{{ indexed_yandex.to.indexed|sub:indexed_yandex.from.indexed|floatformat }} <img src='{{ MEDIA_URL }}down.png' class='arrow1' /></span>)
						{% endif %}
				{% endif %}
			{% endif %}
		</td>
		<td class='table_row1'>
			{{ indexed_google.from.indexed }} → {{ indexed_google.to.indexed }}
			{% if indexed_google.to.indexed != indexed_google.from.indexed %}
				{% if indexed_google.to.indexed != None and indexed_google.from.indexed != None %}
						{% if indexed_google.to.indexed > indexed_google.from.indexed %}
							(<span class='moving_green'>+{{ indexed_google.to.indexed|sub:indexed_google.from.indexed|floatformat }} <img src='{{ MEDIA_URL }}up.png' class='arrow1' /></span>)
						{% endif %}
						{% if indexed_google.to.indexed < indexed_google.from.indexed %}
							(<span class='moving_red'>{{ indexed_google.to.indexed|sub:indexed_google.from.indexed|floatformat }} <img src='{{ MEDIA_URL }}down.png' class='arrow1' /></span>)
						{% endif %}
				{% endif %}
			{% endif %}
		</td>
		<td class='table_row1'>
			{{ tic.from.tic}} → {{ tic.to.tic }}
			{% if tic.to.tic != tic.from.tic %}
				{% if tic.to.tic != None and tic.from.tic != None %}
						{% if tic.to.tic > tic.from.tic %}
							(<span class='moving_green'>+{{ tic.to.tic|sub:tic.from.tic|floatformat }} <img src='{{ MEDIA_URL }}up.png' class='arrow1' /></span>)
						{% endif %}
						{% if tic.to.tic < tic.from.tic %}
							(<span class='moving_red'>{{ tic.to.tic|sub:tic.from.tic|floatformat }} <img src='{{ MEDIA_URL }}down.png' class='arrow1' /></span>)
						{% endif %}
				{% endif %}
			{% endif %}
		</td>
		<td class='table_row1'>
			{{ pr.from.pr }} → {{ pr.to.pr }}
			{% if pr.to.pr != pr.from.pr %}
				{% if pr.to.pr != None and pr.from.pr != None %}
						{% if pr.to.pr > pr.from.pr %}
							(<span class='moving_green'>+{{ pr.to.pr|sub:pr.from.pr|floatformat }} <img src='{{ MEDIA_URL }}up.png' class='arrow1' /></span>)
						{% endif %}
						{% if pr.to.pr < pr.from.pr %}
							(<span class='moving_red'>{{ pr.to.pr|sub:pr.frompr|floatformat }} <img src='{{ MEDIA_URL }}down.png' class='arrow1' /></span>)
						{% endif %}
				{% endif %}
			{% endif %}
		</td>
		<td class='table_row1'>
			{{ site.site_backlinks.backlinks }}
		</td>
	</tr>
</table>



<h2>Позиции сайта</h2>

<p align='center'>
	<a href='/site/{{ site.host }}/guest-{{ site.getHashPass }}/xls/?date_from={{ date_from|date:"d/m/Y" }}&date_to={{ date_to|date:"d/m/Y" }}' target='_blank' style='text-decoration:none'><img src='{{ MEDIA_URL }}icons/xls.png' width='25' style='border:0; position:relative; top:6px' /> Экспорт позиций в Excel</a>
</p>


<h2>Поисковые запросы <a href='#' onclick="showHelp(5); return false;" class='help1'><img src='{{ MEDIA_URL }}icons/help_min.png' /></a></h2>

<table class='table1' cellpadding='0' cellspacing='0' id='positions_table'>
	<thead>
    <tr>
        <th>Запрос</th>
        <th class='table_row1'>Геотаргетинг <img src='{{ MEDIA_URL }}icons/yandex.gif' class='arrow1' /></th>
		<th class='table_row1'>Геотаргетинг <img src='{{ MEDIA_URL }}icons/google.gif' class='arrow1' /></th>
		<th class='table_row1'>Популярность (Wordstat)</th>
        <th class='table_row1'>Позиция <img src='{{ MEDIA_URL }}icons/yandex.gif' class='arrow1' /></th>
        <th class='table_row1'>Позиция <img src='{{ MEDIA_URL }}icons/google.gif' class='arrow1' /></th>
    </tr>
	</thead>
	<tbody>
    {% for query, pos_dict in queries_list %}
    <tr id='query_tr_{{ query.pk }}'>
        <td>
			{% if query.hilite_color %}
				<span style='color: {{ query.hilite_color }}'>{{ query.query }}</span>
			{% else %}
				{{ query.query }}
			{% endif %}
		</td>
        <td class='table_row1'>
			{% if query.region %}
				{{ query.region.title_ru }}
			{% endif %}
        </td>
        <td class='table_row1'>
			{% if query.google_region %}
				{{ query.google_region.title_ru }}
			{% endif %}
        </td>
		<td class='table_row1'>{{ query.wordstat_popularity }}</td>
        <td class='table_row1'>
        	{% if pos_dict.yandex_from.position >= 999 %}
				<i>не найден</i>
			{% else %}
				{{ pos_dict.yandex_from.position }}
			{% endif %}
			→
        	{% if pos_dict.yandex_to.position >= 999 %}
				<i>не найден</i>
			{% else %}
				{{ pos_dict.yandex_to.position }}
			{% endif %}

			{% if pos_dict.yandex_from.position != pos_dict.yandex_to.position %}
				{% if pos_dict.yandex_from.position != None and pos_dict.yandex_to.position != None %}
						{% if pos_dict.yandex_from.position > pos_dict.yandex_to.position %}
							(<span class='moving_green'>{{ pos_dict.yandex_to.position|sub:pos_dict.yandex_from.position|floatformat }} <img src='{{ MEDIA_URL }}up.png' class='arrow1' /></span>)
						{% endif %}
						{% if pos_dict.yandex_from.position < pos_dict.yandex_to.position %}
							(<span class='moving_red'>+{{ pos_dict.yandex_to.position|sub:pos_dict.yandex_from.position|floatformat }} <img src='{{ MEDIA_URL }}down.png' class='arrow1' /></span>)
						{% endif %}
				{% endif %}
			{% endif %}
		</td>
        <td class='table_row1'>
			{% if pos_dict.google_from.position >= 999 %}
			    <i>не найден</i>
			{% else %}
			    {{ pos_dict.google_from.position }}
			{% endif %}
			→
			{% if pos_dict.google_to.position >= 999 %}
			    <i>не найден</i>
			{% else %}
			    {{ pos_dict.google_to.position }}
			{% endif %}

			{% if pos_dict.google_from.position != pos_dict.google_to.position %}
				{% if pos_dict.google_from.position != None and pos_dict.google_to.position != None %}
						{% if pos_dict.google_from.position > pos_dict.google_to.position %}
							(<span class='moving_green'>{{ pos_dict.google_to.position|sub:pos_dict.google_from.position|floatformat }} <img src='{{ MEDIA_URL }}up.png' class='arrow1' /></span>)
						{% endif %}
						{% if pos_dict.google_from.position < pos_dict.google_to.position %}
							(<span class='moving_red'>+{{ pos_dict.google_to.position|sub:pos_dict.google_from.position|floatformat }} <img src='{{ MEDIA_URL }}down.png' class='arrow1' /></span>)
						{% endif %}
				{% endif %}
			{% endif %}
		</td>
    </tr>
    {% endfor %}
	</tbody>
</table>

<p style='margin:40px auto 0 auto; text-align:center; font-size:10px; color:#777'>
	Количество поисковых запросов: {{ queries_list|length }}. Время генерации страницы: {{ gen_time.seconds }} сек.
</p>

{% endspaceless %}


{% if 'localhost' not in request.get_host %}
	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	try {
	var pageTracker = _gat._getTracker("UA-3972792-16");
	pageTracker._trackPageview();
	} catch(err) {}</script>
{% endif %}


{% comment %}
{% include 'template_debug.html' %}
{% endcomment %}
</body>
</html>
