{% extends 'base.html' %}


{% load pagination %}

{% load sub %}

{% block title %}{{ site.host }}{% endblock %}

{% block path %}
    <a href='/'>Главная</a> → <a href='/site/'>Сайты</a> → <a href='/site/{{ site.host }}/'>{{ site.host }}</a>
{% endblock %}


{% block h1 %}{{ site.host|upper }}{% endblock %}

{% block content %}
    {% spaceless %}
        <div class="container-fluid">
        <div class="row-fluid adjust">

        {% if site.checked %}
            <p align='center' style='margin:20px'><b>Позиции проверены {{ site.checked|date:'d.m.Y, H:i' }} (московское время)</b></p>
        {% endif %}




        <div class="">
            <div class="span6">
                <div class="widget">
                    <div class="widget-head">
                        <div class="pull-left">Диапазон дат</div>
                        <div class="widget-icons pull-right"> <a href="" class="wminimize"><i class="icon-chevron-up"></i></a> <a href="" class="wclose"><i class="icon-remove"></i></a> </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <div style="text-align:center">
                            <form method='GET' action='.' class="form-inline date-form">
                                {{ form.date_from }}
                                {{ form.date_to }}
                                <button type='submit' class="btn btn-success btn-lg">Применить</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>



            <script type="text/javascript">
                jQuery(function() {
                    jQuery("#id_date_from").datepicker({ dateFormat: 'dd/mm/yy' });
                    jQuery("#id_date_to").datepicker({ dateFormat: 'dd/mm/yy' });
                });
            </script>

            <script>
                function removeQuery(query_pk) {
                    $.ajax({
                        type: 'POST',
                        url: '/site/{{ site.host }}/delete-query/',
                        data: 'query_pk='+query_pk,
                        success: function(msg) {
                            $('#query_tr_'+query_pk).fadeToggle(500);
                        }
                    });
                }
            </script>


            <div class="span6">
                <div class="widget">
                    <div class="widget-head">
                        <div class="pull-left">Эффективные показы за выбранный период</div>
                        <div class="widget-icons pull-right"> <a href="" class="wminimize"><i class="icon-chevron-up"></i></a> <a href="" class="wclose"><i class="icon-remove"></i></a> </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="widget-content">
                        <table class="table table-bordered table-hover all-center">
                            <tbody>
                            <tr>
                                <th>
                                    Показы
                                </th>
                                <th>
                                    Дней
                                </th>

                            </tr>
                            <tr>
                                <td>
                                    {{ effective_shows }}
                                </td>
                                <td>
                                    {{ total_days }}
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        {% comment %}

	<table>
		<tr>
			<td valign='middle'><div id="flot_placeholder" style="width:600px;height:300px"></div></td>
			<td valign='middle'><div id='annotate' style='font-weight:bold'></div></td>
		</tr>
	</table>

	<script id="source" language="javascript" type="text/javascript">
	$(function () {

		shows_array = [];
		{% for cur_date, shows in effective_shows %}
			shows_array.push( [ (new Date("{{ cur_date|date:'Y/m/d' }}")).getTime(), {{ shows }} ] );
		{% endfor %}

		visitors_array = [];
		{% for cur_date, v in visitors %}
			visitors_array.push( [ (new Date("{{ cur_date|date:'Y/m/d' }}")).getTime(), {{ v }} ] );
		{% endfor %}


		$.plot($("#flot_placeholder"), [ {label:'Эффективные показы', data:shows_array}, {label:'Прогнозируемые посетители', data:visitors_array} ],
										{
										series: { lines: { show: true }, points: { show: true }	},
										grid: { hoverable: true, clickable: true },
										xaxis: { mode: "time", min: (new Date("{{ date_from|date:'Y/m/d' }}")).getTime(), max: (new Date("{{ date_to|date:'Y/m/d' }}")).getTime() }
										}
		);

		$("#flot_placeholder").bind("plothover", function (event, pos, item) {
			if (item) {
				$("#annotate").text("You clicked point " + item.dataIndex + " in " + item.series.label + ".");
				//plot.highlight(item.series, item.datapoint);
				$("#annotate").text(item.series.label + ": " + item.datapoint[1]);
				//document.write(item.datapoint);
			}
		});

		/*
		{% for cur_date, shows in effective_shows %}
			var data_{{ query.pk }} = [];
			data_{{ query.pk }}.push([ "{{ date_from|date:'d.m.Y' }}", {{ pos_dict.yandex_from.position }} ]);
			data_{{ query.pk }}.push([ "{{ date_to|date:'d.m.Y' }}", {{ pos_dict.yandex_to.position }} ]);
		{% endfor %}

		$.plot($("#flot_placeholder"), [
			{% for query, pos_dict in queries_list %}
				{ label: "{{ query.query }}",  data: data_{{ query.pk }} }
				{% if not forloop.last %}, {% endif %}
			{% endfor %}
		], {
			series: {
				lines: { show: true },
				points: { show: true }
			},
			xaxis: {
				mode: "time",
				minTickSize: [1, "day"],
				min: (new Date("{{ date_from|date:'Y/m/d' }}")).getTime(),
				max: (new Date("{{ date_to|date:'Y/m/d' }}")).getTime(),
			},
			yaxis: {
				ticks: 10,
				min: 0,
				max: 100
			},
			grid: {
				backgroundColor: { colors: ["#fff", "#eee"] }
			}
		});
		*/

	});
	</script>
{% endcomment %}


        {% comment %}
<h2><a href='#' onclick='$("#edit_site").toggle(100); return false'>Управление сайтом</a></h2>
<div id='edit_site' style='display:none'>
    <div>Редактировать сайт</div>
    <div><a href="/site/{{ site.host }}/edit-query-bulk/">Редактировать запросы</a></div>
</div>
{% endcomment %}



        <div class="widget">
            <div class="widget-head">
                <div class="pull-left">Показатели сайта</div>
                <div class="widget-icons pull-right"> <a href="" class="wminimize"><i class="icon-chevron-up"></i></a> <a href="" class="wclose"><i class="icon-remove"></i></a> </div>
                <div class="clearfix"></div>
            </div>
            <div class="widget-content">
                <table class="table table-bordered table-hover all-center">
                    <tbody>
                    <tr>
                        <th>Индексация Яндекс</th><th class='table_row1'>Индексация Google</th><th class='table_row1'>ТИЦ</th><th class='table_row1'>PR</th><th class='table_row1'>Бэклинки</th>
                    </tr>
                    <tr>
                        <td>
                            {{ indexed_yandex.from.indexed }} → {{ indexed_yandex.to.indexed }}
                            {% if indexed_yandex.to.indexed != indexed_yandex.from.indexed %}
                                {% if indexed_yandex.to.indexed != None and indexed_yandex.from.indexed != None %}
                                    {% if indexed_yandex.to.indexed > indexed_yandex.from.indexed %}
                                        (<span class='moving_green'>+{{ indexed_yandex.to.indexed|sub:indexed_yandex.from.indexed|floatformat }} <img src='{{ MEDIA_URL }}up.png' class='arrow1' /></span>)
                                    {% endif %}
                                    {% if indexed_yandex.to.indexed < indexed_yandex.from.indexed %}
                                        (<span class='moving_red'>{{ indexed_yandex.to.indexed|sub:indexed_yandex.from.indexed|floatformat }} <img src='{{ MEDIA_URL }}down.png' class='arrow1' /></span>)
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </td>
                        <td class='table_row1'>
                            {{ indexed_google.from.indexed }} → {{ indexed_google.to.indexed }}
                            {% if indexed_google.to.indexed != indexed_google.from.indexed %}
                                {% if indexed_google.to.indexed != None and indexed_google.from.indexed != None %}
                                    {% if indexed_google.to.indexed > indexed_google.from.indexed %}
                                        (<span class='moving_green'>+{{ indexed_google.to.indexed|sub:indexed_google.from.indexed|floatformat }} <img src='{{ MEDIA_URL }}up.png' class='arrow1' /></span>)
                                    {% endif %}
                                    {% if indexed_google.to.indexed < indexed_google.from.indexed %}
                                        (<span class='moving_red'>{{ indexed_google.to.indexed|sub:indexed_google.from.indexed|floatformat }} <img src='{{ MEDIA_URL }}down.png' class='arrow1' /></span>)
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </td>
                        <td class='table_row1'>
                            {{ tic.from.tic}} → {{ tic.to.tic }}
                            {% if tic.to.tic != tic.from.tic %}
                                {% if tic.to.tic != None and tic.from.tic != None %}
                                    {% if tic.to.tic > tic.from.tic %}
                                        (<span class='moving_green'>+{{ tic.to.tic|sub:tic.from.tic|floatformat }} <img src='{{ MEDIA_URL }}up.png' class='arrow1' /></span>)
                                    {% endif %}
                                    {% if tic.to.tic < tic.from.tic %}
                                        (<span class='moving_red'>{{ tic.to.tic|sub:tic.from.tic|floatformat }} <img src='{{ MEDIA_URL }}down.png' class='arrow1' /></span>)
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </td>
                        <td class='table_row1'>
                            {{ pr.from.pr }} → {{ pr.to.pr }}
                            {% if pr.to.pr != pr.from.pr %}
                                {% if pr.to.pr != None and pr.from.pr != None %}
                                    {% if pr.to.pr > pr.from.pr %}
                                        (<span class='moving_green'>+{{ pr.to.pr|sub:pr.from.pr|floatformat }} <img src='{{ MEDIA_URL }}up.png' class='arrow1' /></span>)
                                    {% endif %}
                                    {% if pr.to.pr < pr.from.pr %}
                                        (<span class='moving_red'>{{ pr.to.pr|sub:pr.frompr|floatformat }} <img src='{{ MEDIA_URL }}down.png' class='arrow1' /></span>)
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </td>
                        <td class='table_row1'>
                            {{ site.site_backlinks.backlinks }}
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div class="widget-foot">
                <a href='/site/{{ site.host }}/xls/?date_from={{ date_from|date:"d/m/Y" }}&date_to=
            {{ date_to|date:"d/m/Y" }}' target='_blank' class="btn btn-success"><img src=
                                                                                                                                                                                       '{{ MEDIA_URL }}icons/xls
            .png' /> Экспорт позиций в Excel</a>

                <a href='/site/{{ site.host }}/guest-{{ site.getHashPass }}/' class="btn  btn-info
            btn-lg" style="margin-left: 3px;"/>
                Гостевой
                просмотр</a>
            </div>
        </div>




        <div class="widget">
            <div class="widget-head">
                <div class="pull-left">Поисковые запросы</div>
                <div class="widget-icons pull-right"> <a href="" class="wminimize"><i class="icon-chevron-up"></i></a> <a href="" class="wclose"><i class="icon-remove"></i></a> </div>
                <div class="clearfix"></div>
            </div>
            <div class="widget-content">
                <table class="table table-bordered table-hover all-center">
                    <tbody>
                    <tr>
                        <th>Запрос</th>
                        <th class='table_row1'>Геотаргетинг <img src='
                        {{ STATIC_URL }}img/icons/yandex.png' class='arrow1' style="width: 20px;"
                                /></th>
                        <th class='table_row1'>Геотаргетинг <img src='
                        {{ STATIC_URL }}img/icons/google.png' class='arrow1' style="width: 20px;"
                                /></th>
                        <th class='table_row1'>Популярность (Wordstat)</th>
                        <th class='table_row1'>Позиция <img src='
                        {{ STATIC_URL }}img/icons/yandex.png' class='arrow1' style="width: 20px;"
                                /></th>
                        <th class='table_row1'>Позиция <img src='
                        {{ STATIC_URL }}img/icons/google.png' class='arrow1' style="width: 20px;"
                                /></th>
                    </tr>
                    {% for query, pos_dict in queries_list %}
                        <tr id='query_tr_{{ query.pk }}'>
                            <td>
                                {% if query.hilite_color %}
                                    <span style='color: {{ query.hilite_color }}'>
                                        {{ query.query }}
                                        <a href="#" class="query-link" data-id="{{ query.id }}"><i class="fa fa-bar-chart-o"></i></a></span>
                                {% else %}
                                    {{ query.query }}
                                    <a href="#" class="query-link" data-id="{{ query.id }}"><i class="fa fa-bar-chart-o"></i></a>
                                {% endif %}

                                <a href='/site/{{ site.host }}/edit-query/{{ query.pk }}/'><i
                                        class="fa fa-pencil-square-o"></i> </a>
                                <a href='#' onclick="if(confirm('Подтверждаете удаление?')) removeQuery('{{ query.pk }}'); return false;"><i class="fa fa-trash-o"></i></a>
                            </td>
                            <td class='table_row1'>
                                {% if query.region %}
                                    {{ query.region.title_ru }}
                                {% endif %}
                            </td>
                            <td class='table_row1'>
                                {% if query.google_region %}
                                    {{ query.google_region.title_ru }}
                                {% endif %}
                            </td>
                            <td class='table_row1'>{{ query.wordstat_popularity }}</td>
                            <td class='table_row1'>
                                {% if pos_dict.yandex_from.position >= 999 %}
                                    <i>не найден</i>
                                {% else %}
                                    {{ pos_dict.yandex_from.position }}
                                {% endif %}
                                →
                                {% if pos_dict.yandex_to.position >= 999 %}
                                    <i>не найден</i>
                                {% else %}
                                    {{ pos_dict.yandex_to.position }}
                                {% endif %}

                                {% if pos_dict.yandex_from.position != pos_dict.yandex_to.position %}
                                    {% if pos_dict.yandex_from.position != None and pos_dict.yandex_to.position != None %}
                                        {% if pos_dict.yandex_from.position > pos_dict.yandex_to.position %}
                                            (<span class='moving_green'>{{ pos_dict.yandex_to.position|sub:pos_dict.yandex_from.position|floatformat }} <img src='{{ MEDIA_URL }}up.png' class='arrow1' /></span>)
                                        {% endif %}
                                        {% if pos_dict.yandex_from.position < pos_dict.yandex_to.position %}
                                            (<span class='moving_red'>+{{ pos_dict.yandex_to.position|sub:pos_dict.yandex_from.position|floatformat }} <img src='{{ MEDIA_URL }}down.png' class='arrow1' /></span>)
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td class='table_row1'>
                                {% if pos_dict.google_from.position >= 999 %}
                                    <i>не найден</i>
                                {% else %}
                                    {{ pos_dict.google_from.position }}
                                {% endif %}
                                →
                                {% if pos_dict.google_to.position >= 999 %}
                                    <i>не найден</i>
                                {% else %}
                                    {{ pos_dict.google_to.position }}
                                {% endif %}

                                {% if pos_dict.google_from.position != pos_dict.google_to.position %}
                                    {% if pos_dict.google_from.position != None and pos_dict.google_to.position != None %}
                                        {% if pos_dict.google_from.position > pos_dict.google_to.position %}
                                            (<span class='moving_green'>{{ pos_dict.google_to.position|sub:pos_dict.google_from.position|floatformat }} <img src='{{ MEDIA_URL }}up.png' class='arrow1' /></span>)
                                        {% endif %}
                                        {% if pos_dict.google_from.position < pos_dict.google_to.position %}
                                            (<span class='moving_red'>+{{ pos_dict.google_to.position|sub:pos_dict.google_from.position|floatformat }} <img src='{{ MEDIA_URL }}down.png' class='arrow1' /></span>)
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
            <div class="widget-foot">
                <a class='btn btn-success btn-lg' href='/site/{{ site.host }}/add-query/'>Добавить
                    запрос</a>
            </div>
        </div>



        <div class="widget">
            <div class="widget-head">
                <div class="pull-left">График позиций сайта</div>
                <div class="widget-icons pull-right"> <a href="" class="wminimize"><i class="icon-chevron-up"></i></a> <a href="" class="wclose"><i class="icon-remove"></i></a> </div>
                <div class="clearfix"></div>
            </div>
            <div class="widget-content flot">
                <div id="flot-placeholder"></div>
            </div>
        </div>

        <p style='margin:40px auto 0 auto; text-align:center; font-size:10px; color:#777'>
            Количество поисковых запросов: {{ queries_list|length }}. Время генерации страницы: {{ gen_time.seconds }} сек.
        </p>

    {% endspaceless %}
</div></div>




    <script id="source" language="javascript" type="text/javascript">
        var options = {
            xaxis: {
                mode: "time"
            },
            series: {
                lines: { show: true },
                points: {
                    radius: 3,
                    show: true,
                    fill: true
                },
            },
            grid: {
                hoverable: true,
                borderWidth: 1
            }
        };
        $(document).ready(function() {
            $.plot($("#flot-placeholder"), [ [[0, 0], [0, 0]] ], options);
        });

        $(function () {

            $('.query-link').on('click', function(e){
                e.preventDefault();
                var id = $(this).data('id')
                $.get(location.href, {'chart-id': id}, function(response){
                    var dataGoogle = [];
                    var dataYandex = [];
                    response = $.parseJSON(response);
                    for(i=0;i<response[0].length; i++){
                        dataGoogle.push([(new Date(response[0][i].date)).getTime(),
                            response[0][i].value])
                    }

                    for(i=0;i<response[1].length; i++){
                        dataYandex.push([(new Date(response[1][i].date)).getTime(),
                            response[1][i].value])
                    }

                    var data = [
                        {label: "Yandex Position",  data: dataYandex, points: { symbol: "circle", fillColor: "#058DC7" },
                            color: '#058DC7'},
                        {label: "Google Position",  data: dataGoogle, points: { symbol: "circle",
                            fillColor: "#AA4643" },
                            color: '#AA4643'},
                    ];




                    function showTooltip(x, y, contents, z) {
                        $('<div id="flot-tooltip">' + contents + '</div>').css({
                            top: y - 30,
                            left: x - 135,
                            'border-color': z,
                        }).appendTo("body").fadeIn(200);
                    };

                    function getMonthName(numericMonth) {
                        var monthArray = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                        var alphaMonth = monthArray[numericMonth];

                        return alphaMonth;
                    }

                    function convertToDate(timestamp) {
                        var newDate = new Date(timestamp);
                        var dateString = String(newDate.getDate()) + " " + getMonthName(newDate.getMonth
                        ());
                        var monthName = dateString;

                        return monthName;
                    }

                    $("#flot-placeholder").bind("plothover", function (event, pos, item) {
                        if (item) {
                            if ((previousPoint != item.dataIndex) || (previousLabel != item.series.label)) {
                                previousPoint = item.dataIndex;
                                previousLabel = item.series.label;

                                $("#flot-tooltip").remove();

                                var x = convertToDate(item.datapoint[0]),
                                        y = item.datapoint[1];
                                z = item.series.color;

                                showTooltip(item.pageX, item.pageY,
                                                "<b>" + item.series.label + "</b><br /> on  " + x + "" +
                                                " is " + y + "",
                                        z);
                            }
                        } else {
                            $("#flot-tooltip").remove();
                            previousPoint = null;
                        }
                    });

                    $.plot($("#flot-placeholder"), data, options);

                });

            });
        });

    </script>
{% endblock %}
