<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/style.css" />



{% if message %}
	<p class='message0'>{{ message|safe }}</p>
{% endif %}

<form method='POST' action='.' enctype="multipart/form-data">{% csrf_token %}
<table>
	{{ form.as_table }}
	<tr>
		<td></td><td><button type='submit'>Экспорт</button></td>
	</tr>
</table>
</form>
