
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<style type="text/css">



  /* default css */
  
  table {
    font-size: 1em;
    line-height: inherit;
  }

  
  div, address, ol, ul, li, option, select { 
    margin-top: 0px;
    margin-bottom: 0px;
  }

  p {
    margin: 0px;
  }

  body {
    
    
      margin: 0px;
    
    
    
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 40px;
      
    
  }

  h6 { font-size: 10pt }
  h5 { font-size: 11pt }
  h4 { font-size: 12pt }
  h3 { font-size: 13pt }
  h2 { font-size: 14pt }
  h1 { font-size: 16pt }

  blockquote {padding: 10px; border: 1px #DDD dashed }

  a img {border: 0}

  div.google_header, div.google_footer {
    position: relative;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  /* end default css */

  
    /* default print css */
    
    @media print {
      body { 
        padding: 0; 
        margin: 0; 
      }

      div.google_header, div.google_footer {
        display: block;
        min-height: 0;
        border: none;
      }

      div.google_header {
        flow: static(header);
      }

      /* used to insert page numbers */
      div.google_header::before, div.google_footer::before {
        position: absolute;
        top: 0;
      }

      div.google_footer {
        flow: static(footer);
      }

      /* always consider this element at the start of the doc */
      div#google_footer {
        flow: static(footer, start);
      }

      span.google_pagenumber {
        content: counter(page);
      }

      span.google_pagecount {
        content: counter(pages);
      }
    }

    @page {
      @top {
        content: flow(header);
      }
      @bottom {
        content: flow(footer);
      }
    }
    /* end default print css */
   
  
  /* custom css */
  
  
  /* end custom css */

  /* ui edited css */
  
  body {
    font-family: Verdana;
    
    font-size: 10.0pt;
    line-height: normal;
    background-color: #ffffff;
  }
  /* end ui edited css */




</style>


</head>

<body revision="cczv65wb_54f62cc9f2:3">

<div id="result">
</div>
    
    
<h1>展望2008世界大势：风起云涌 激荡人心</h1><br>
<br>
  8月8日晚，北京2008年奥运会倒计时一周年庆祝活动在天安门广场举行。图为庆祝活动中的文艺演出。 新华社记者刘卫兵摄

    ２００８年世界风起云涌，激荡人心。但要作出一个预测，首先要对今天所处的世界有一个基本共识。<br>
<br>
<a href=simpleTest.html id=b7v9 title=中国之声>中国之声</a><br>
<br>
<br>

<form action="simpleTest.html">{% csrf_token %}
  <input name="i18n" onchange="document.getElementById('result').innerHTML = '<p>' + this.value + '</p>';" />
</form>

</body>
</html>
