<html>
  <body>
  <p id="test_id">outside</p>
  <p id="test_id_out">outside</p>
  <div id="test_id_div">
  	<p id="test_id">inside</p>
  </div>
<form method="get" action="resultPage.html" name="form1" style="display: block">{% csrf_token %}
    Here's a checkbox: <input type="checkbox" id="checky" name="checky" value="furrfu"/><br/>
    <select name="selectomatic" id="1">
        <option selected="selected">One</option>
        <option>Two</option>
        <option>Four</option>
        <option>Still learning how to count, apparently</option>
    </select>
</form>

<form method="get" action="resultPage.html" name="form2" style="display: block">{% csrf_token %}
    Here's a checkbox: <input type="checkbox" id="checky" name="checky" value="furrfu"/><br/>
    <select name="selectomatic" id="2">
        <option selected="selected">One</option>
        <option>Two</option>
        <option>Four</option>
        <option>Still learning how to count, apparently</option>
    </select>
     <select name="selectomatic" id="2">
        <option selected="selected">One</option>
        <option>Two</option>
        <option>Four</option>
        <option>Still learning how to count, apparently</option>
    </select>
</form>

<a href="1.html">hello world</a>
<div name="div1">
  <a href="2.html" name="link1">hello world</a>
  <a href="2.html" name="link2">hello world</a>
</div>
</body>
</html>
<html>
  <body>

<form method="get" action="resultPage.html" name="form1" style="display: block">{% csrf_token %}
    Here's a checkbox: <input type="checkbox" id="checky" name="checky" value="furrfu"/><br/>
    <select name="selectomatic" id="1">
        <option selected="selected">One</option>
        <option>Two</option>
        <option>Four</option>
        <option>Still learning how to count, apparently</option>
    </select>
</form>

<form method="get" action="resultPage.html" name="form2" style="display: block">{% csrf_token %}
    Here's a checkbox: <input type="checkbox" id="checky" name="checky" value="furrfu"/><br/>
    <select name="selectomatic" id="2">
        <option selected="selected">One</option>
        <option>Two</option>
        <option>Four</option>
        <option>Still learning how to count, apparently</option>
    </select>
     <select name="selectomatic" id="2">
        <option selected="selected">One</option>
        <option>Two</option>
        <option>Four</option>
        <option>Still learning how to count, apparently</option>
    </select>
</form>

<a href="1.html">hello world</a>
<div name="div1">
  <a href="2.html">hello world</a>
  <a href="2.html">hello world</a>
</div>
</body>
</html>
<html>
  <body>

<form method="get" action="resultPage.html" name="form1" style="display: block">{% csrf_token %}
    Here's a checkbox: <input type="checkbox" id="checky" name="checky" value="furrfu"/><br/>
    <select name="selectomatic" id="1">
        <option selected="selected">One</option>
        <option>Two</option>
        <option>Four</option>
        <option>Still learning how to count, apparently</option>
    </select>
</form>

<form method="get" action="resultPage.html" name="form2" style="display: block">{% csrf_token %}
    Here's a checkbox: <input type="checkbox" id="checky" name="checky" value="furrfu"/><br/>
    <select name="selectomatic" id="2">
        <option selected="selected">One</option>
        <option>Two</option>
        <option>Four</option>
        <option>Still learning how to count, apparently</option>
    </select>
     <select name="selectomatic" id="2">
        <option selected="selected">One</option>
        <option>Two</option>
        <option>Four</option>
        <option>Still learning how to count, apparently</option>
    </select>
</form>

<a href="1.html">hello world</a>
<div name="div1">
  <a href="2.html">hello world</a>
  <a href="2.html">hello world</a>
</div>
</body>
</html>
<html>
  <body>

<form method="get" action="resultPage.html" name="form1" style="display: block">{% csrf_token %}
    Here's a checkbox: <input type="checkbox" id="checky" name="checky" value="furrfu"/><br/>
    <select name="selectomatic" id="1">
        <option selected="selected">One</option>
        <option>Two</option>
        <option>Four</option>
        <option>Still learning how to count, apparently</option>
    </select>
</form>

<form method="get" action="resultPage.html" name="form2" style="display: block">{% csrf_token %}
    Here's a checkbox: <input type="checkbox" id="checky" name="checky" value="furrfu"/><br/>
    <select name="selectomatic" id="2">
        <option selected="selected">One</option>
        <option>Two</option>
        <option>Four</option>
        <option>Still learning how to count, apparently</option>
    </select>
     <select name="selectomatic" id="2">
        <option selected="selected">One</option>
        <option>Two</option>
        <option>Four</option>
        <option>Still learning how to count, apparently</option>
    </select>
</form>

<a href="1.html">hello world</a>
<div name="div1">
  <a href="2.html">hello world</a>
  <a href="2.html">hello world</a>
</div>

<span class="one">Span with class of one</span>
<div name="classes">
  <span class="one">Find me</span>
  <span class="one">Also me</span>
  <span class="oneother">But not me</span>
</div>
</body>
</html>