<?xml version="1.0"?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="stylesheets/generic.css" type="text/css"/>
    <script type="text/javascript" src="javascripts/prototype.js"></script>
    <script type="text/javascript" src="javascripts/effects.js"></script>
    <title>XHTML Test Page</title>
</head>
<body>
<div class="navigation">
    <p><a href="resultPage.html" target="result" name="windowOne">Open new window</a></p>
    <p><a href="iframes.html" target="_blank" name="windowTwo">Create a new anonymous window</a></p>
    <p><a href="iframes.html" name="sameWindow">Open page with iframes in same window</a></p>
    <p><a href="javascriptPage.html" target="result" name="windowThree">Open a window with a close button</a></p>
</div>

<div class="content">
    <h1 class="header">XHTML Might Be The Future</h1>

    <p>If you'd like to go elsewhere then <a href="resultPage.html">click me</a>.</p>

    <p>Alternatively, <a href="resultPage.html" id="linkId">this goes to the same place</a>.</p>

    <form name="someForm">{% csrf_token %}
        <input id="username" type="text" value="change"/>
    </form>

    This link has the same text as another link: <a href="resultPage.html">click me</a>.
</div>

<div class="extraDiv">Another div starts here.<p/>
    <h2 class="nameA nameBnoise   nameC">An H2 title</h2>
    <p class="nameC">Some more text</p>
</div>

<div>
  <a id="id1" href="#">Foo</a>
  <ul id="id2" />
  <span id="id3"/>
</div>

<div>
  <table id="table" ></table>
</div>

<span id="amazing">
<div>
    <div>
        <div>
            <span/>
            <a>I have width</a>
        </div>
    </div>
</div>
</span>

<a name="text" />
<p id="spaces">     </p>
<p id="empty"></p>
<p id="self-closed" />
</body>
</html>
