{% extends 'base.html' %}

{% block title %}Активация карты{% endblock %}

{% block content %}

<h1>Активация карты</h1>

{% spaceless %}


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


<form method='POST' action='.'>{% csrf_token %}
	<table>
		{{ form.as_table }}
	
		<tr>
			<td></td>
			<td><button type='submit'>Активировать</button></td>
		</tr>
	</table>
</form>


{% endspaceless %}
{% endblock %}
