{% extends 'base.html' %}

{% block title %}Личный кабинет - {{ request.user.username }}{% endblock %}

{% block content %}

<h1>Личный кабинет - {{ request.user.username }}</h1>

{% spaceless %}


<p align='center'>
		<a href='/accounts/password/change/'>Сменить пароль</a>
		| <a href='/accounts/logout/'>Завершить сеанс</a>
</p>

<table width='500' class='table8' cellpadding='0' cellspacing='0'>
	<tr>
		<th>Кол-во запросов</th>
		<td class='table_row1' style="border-bottom:1px solid #E5E5E5;" >{{ user_profile.get_user_queries.count }}</td>
	</tr>
	<tr>
		<th>Расход средств</th>
		<td class='table_row1' style="border-bottom:1px solid #E5E5E5;">{{ user_profile.get_billing_per_day }} руб. в сутки</td>
	</tr>
	<tr>
		<th style='border:0'>Баланс</th>
		<td class='table_row1'>
			<span {% if user_profile.balance < 0 %} style='color:black; font-weight:bold' {% endif %}>{{ user_profile.balance|floatformat }}</span> руб.
			(хватит на <span {% if user_profile.get_balance_remaining_days < 10 %} style='color:red; font-weight:bold' {% endif %}>{{ user_profile.get_balance_remaining_days }}</span> дней)
		</td>
	</tr>
</table>

<table align='center' style='margin: 10px auto 0 auto'>
    <tr>
        <td><form method='get' action='http://pr0fit.plati.ru'><button type='submit'>Купить карту</button>&nbsp;</form></td>
        <td><form method='get' action='/profiles/add-funds/'><button type='submit'>Активировать карту</button></form></td>
    </tr>
</table>


{% endspaceless %}
{% endblock %}
