{% load i18n render_form num_of_parsed_keywords %}

{% num_of_parsed_keywords as keywordz %}
{% url "contact_form_view" as contact_form_view_url %}

<p>
    <b>{{ site.domain }}</b> - уникальный инструмент для <b>SEO специалистов</b>, <b>маркетологов</b>, владельцев сайтов, а также все тех, чья работа связана с <b>поисковыми системами</b>.
</p>


<p >
    <b>Анализируйте конкурентов</b>, подбирайте <b>ключевые слова</b>, просматривайте статистику по <b>доменам</b>!
</p>



    <a href="#" class="question">Как это работает?</a><p class="answer"> Мы сканируем миллионы ключевых слов в поисковых системах, находим позиции сайтов в SERP, а также их рекламные объявления.
    Полученные данные - десятки терабайт! - очищаются, обрабатываются, и анализируются.
</p>


<a href="#" class="question">Я хочу попробовать!</a> <p class="answer">Отлично - Вы можете сделать это <b>бесплатно</b> - просто введите какое-нибудь ключевое слово или домен в строку поиска выше, и нажмите Enter.</p>


<a href="#" class="question">Бесплатно? Да это просто праздник какой-то!</a> <p class="answer">Ну да. Так и есть.</p>


<a href="#" class="question">А лимиты какие-то есть?</a><p class="answer"> Да. В настоящий момент есть лимиты на количество поисковых запросов к системе.
    Это сделано, главным образом, для уменьшения нагрузки на сайт - как показала практика, некоторые особо рьяные анонимусы парсят сайт в таких объемах, что это становится больше похоже на DDoS-атаку.
</p>


<a href="#" class="question">Как насчет партнерской программы?</a><p class="answer"> Она есть. Вы получаете 30% с каждого платежа, который сделают приглашенные Вами пользователи.
    Для получения дополнительной информации зарегистрируйтесь на сайте и перейдите в раздел "Мой профиль".
</p>


<a href="#" class="question">Я сделал 1 поисковый запрос, а сайт решил, что 2</a><p class="answer"> Поисковые подсказки также учитываются в лимитах. Если Вы хотите растянуть лимиты, просто скопируйте нужный киворд или домен в строку поиска (не набирая его по буквам).</p>


<a href="#" class="question">Я постоянно вижу сообщение о том, что я делаю запросы слишком часто</a><p class="answer"> Попробуйте сделать небольшую паузу (секунды достаточно) перед тем, как нажимать Enter или кнопку {% trans 'Search' %}. Поисковые подсказки также учитываются в лимитах.</p>


<a href="#" class="question">Ок, а сколько ключевых слов в базе?</a><p class="answer"> В настоящий момент <b>{{ keywordz }}</b>, и эта цифра будет расти!</p>


<a href="#" class="question">Как часто обновляются данные?</a><p class="answer"> В настоящий момент сервис находится в бета-версии и данные обновляются приблизительно раз в полтора месяца. Однако у нас уже готов весь необходимый функционал для ускорения этого процесса. В дальнейшем мы будем обновлять базу гораздо чаще.</p>


<a href="#" class="question">Какие поисковые системы обрабатываются?</a><p class="answer"> В настоящий момент мы обрабатываем данные Яндекса (выдача региона "Москва"). Метаданные ключевых слов - частотность, стоимость и т.д. - собираются по региону "Россия". Это дает наиболее реальную картину для того или иного сайта, ведь, как правило,
    видимость сайта выходит за пределы одного-единственного региона.
</p>


<a href="#" class="question">Какая глубина парсинга выдачи?</a> <p class="answer">Мы парсим 2 первые страницы SERP. Этого вполне достаточно для составления картины. Живые люди очень редко заходят дальше 2-ой страницы, следовательно, "живого" трафика с "глубоких" позиций практически нет.</p>


<a href="#" class="question">Вы используете Яндекс.XML?</a><p class="answer"> Нет. Мы парсим прямую выдачу. Наши роботы "видят" сайт в точности так, как это делает обычный его пользователь.</p>


<a href="#" class="question">Я хочу удалить свой сайт из вашей базы</a><p class="answer"> К сожалению для Вас (и к счастью для остальных), это сделать невозможно.</p>


<a href="#" class="question">Я нашел неточные данные!</a> <p class="answer">Дело в том, что 100% точные данные показать невозможно. Объем поиска по тому или иному ключевому слову, его стоимость, SERP-выдача и все остальное - все это меняется постоянно и непрерывно.
    Даже сами поисковые системы не могут предсказать точный бюджет или CTR по Вашим рекламным объявлениям. Однако, мы постоянно стремимся улучшать качество аналитики.</p>


<a href="#" class="question">Сайт глючит</a><p class="answer"> Если Вы нашли какой-то баг на сайте - пожалуйста, <a href='{{ contact_form_view_url }}'>сообщите об этом нам</a>.</p>


<a href="#" class="question">У меня есть вопрос\предложение</a><p class="answer"> Пожалуйста, воспользуйтесь <a href='{{ contact_form_view_url }}'>формой обратной связи</a>.</p>

<style type="text/css">
    .question {
        font-weight: bold;
        display: block;
    }
    .answer {
        display: none;
    }
</style>


<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
    $('a.question').click(function() {
        $(this).next().toggle()
    })
</script>