{% extends 'base.html' %}

{% load i18n render_form num_of_parsed_keywords %}

{% block title %}{% trans 'About' %} {{ site.domain }}{% endblock %}

{% block h1 %}{% trans 'About' %} {{ site.domain }}{% endblock %}

{% block breadcrumbs %}
<span class="divider">/</span> <a href="{% url 'about' %}" class="bread-current">{% trans 'About' %} {{ site.domain }}</a>
{% endblock %}

{% block content %}
<div class='container-fluid'>
    <div class="row-fluid">
      <div class="span12">
        <div class="widget">
          <div class="widget-head">
            <div class="pull-left">{% trans 'What is ' %} {{ site.domain }}?</div>
            <div class="widget-icons pull-right"> <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a> <a href="#" class="wclose"><i class="icon-remove"></i></a> </div>
            <div class="clearfix"></div>
        </div>
        <div class="widget-content">
            <div class="padd">
                {% load i18n %}
                {% get_current_language as LANGUAGE_CODE %}

                {% if 'en' in LANGUAGE_CODE %}
                {% num_of_parsed_keywords as keywordz %}
                {% url "contact_form_view" as contact_form_view_url %}

                {% blocktrans with site.domain as site_domain and keywordz as keywordz %}
                <p>
                    <b>{{ site_domain }}</b> - is a unique tool for <b>SEO specialists</b>, <b>marketologists</b>, and anybody whose work depends on the <b>search engines</b>.<br/>
                    It lets you <b>analyze your competitors</b> to understand their business and SEO strategies, find their <b>keywords and ads</b>, get statistic for any domain, <b>analyze keywords and their costs</b>.
                </p>


                <a href="#" class="question">How it works?</a><p class="answer"> We scan millions of keywords, finding their 'natural' SERP positions, as well as paid advertising.
                After we have collected the data (terabytes of data!), we process it with complicated algorythms, mining the results that really matter.</p>
            

            <a href="#" class="question">How to try it?</a> <p class="answer"> This is really <b>easy and free</b> - just enter any domain or keyword in the search input above.</p>

            <a href="#" class="question">How many keywords we have parsed?</a><p class="answer"> Currently there are <b>{{ keywordz }}</b> keywords parsed.</p>

            <a href="#" class="question">How often keywords are parsed?</a><p class="answer"> We parse data 1 time per month, but will make it more often soon (really soon).</p>

            <a href="#" class="question">Which search engines are parsed?</a><p class="answer"> Currently we parse Yandex (Moscow region). But the keyword metadata (volume and prices) are parsed for Russia region.</p>

            <a href="#" class="question">How many SERP pages we take?</a><p class="answer"> We parse 2 first SERP pages - almost nobody goes farther than the first 2 pages when searching something, so it's not necessary to scrape the data that is deeper. In other words, if some website (or ad) does not appear on the first 2 pages - then it does not appear at all.</p>

            <a href="#" class="question">How much it costs?</a><p class="answer"> Currently it's totally free! There are some limits to prevent service overloading and scraping. We will change the limits and create paid plans soon.</p>

            <a href="#" class="question">About limits</a><p class="answer"> Currently, you can't make more than 2 searches per second. Also, there are different limits per 6 hours (they are subject to change).</p>

            <a href="#" class="question">Contacts</a><p class="answer"> Please use this <a href='{{ contact_form_view_url }}'>form</a> to ask any questions.</p>

            {% endblocktrans %}
            {% elif 'ru' in LANGUAGE_CODE %}
            {% include '_about_ru.html' %}
            {% endif %}
        </div>
    </div>
</div>
</div>
</div>
</div>

<style type="text/css">
    .question {
        font-weight: bold;
        display: block;
    }
    .answer {
        display: none;
    }
</style>


<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
    $('a.question').click(function() {
        $(this).next().toggle()
    })
</script>
{% endblock %}