<!DOCTYPE html>
<html>
<head>
	<title>Users that have expiring or already expired payed account.</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
<h3>List of users with expired or expiring accounts</h3>
	<table class="table table-hover table-bordered">
		<tr>
			<td>Username</td>
			<td>Account type</td>
			<td>When expires/expired</td>
			<td>Days before acc expires <br/> (+2 means that acc expires in 2 days)</td>
		</tr>
		{% for user in user_list %}
			<tr>
			<td>{{ user }}</td>
			<td>{{ user.account.name }} / {{ user.account.price }}$/month</td>
			<td>{{ user.when_account_expires }}</td>
			</tr>
		{% endfor %}
	</table>
	</div>
</body>
</html>