.black_overlord {
    z-index: 5000;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:4000px;
    background: black; /* url("/static/img/black_overlord.png") repeat; */
    opacity: 0.5;
}
.ajax_loader_global {
    z-index:6000;
    margin:200px auto 0 auto;
    width:100%;
    height:auto;
    opacity:1;
    text-align: center;
}
.ajax_loader_global img {
    z-index: 7000;
}