body { font-size: 14px; line-height: 22px; color: #333;  background:#f3f9fd; -webkit-font-smoothing: antialiased; font-family: 'PT Sans Caption', sans-serif;}
body .container { width: 97%; padding-left: 1.5%; padding-right: 1.5%; }
h1,
h2,
h3,
h4,
h5,
h6 { padding: 2px 0px; margin: 2px 0px; color: #111; }
h2 { font-size: 25px; line-height: 35px; }
h3 { font-size: 18px; line-height: 23px; }
h4 { font-size: 15px; line-height: 20px; }
h5 { font-size: 13px; line-height: 18px; }
h6 { font-size: 12px; line-height: 17px; }
p { padding: 0px; margin:0px; }
a { color: #026b9c; }
a:hover { color: #003f5c; text-decoration: none; }
a:hover,
a:active,
a:focus { outline: 0; }
.bold { font-weight: bold; }
hr { margin:15px 0px 10px 0px; padding:0px; border-top:0px; border-bottom:1px solid #f4f4f4; height:0px; }
.center { text-align:center; }
a:hover,
a:active,
a:focus { outline: 0; }
:focus { outline:none; }

::-moz-focus-inner {
 border:0;
}
.btn { font-size: 12px !important; }
.badge { padding-left: 7px !important; padding-right: 7px !important; }
.well { padding:10px 15px; }
button.close { font-size: 20px !important; font-weight: normal; }
button { font-size: 11px; }
.progress { height: 12px; border-radius: 6px; margin: 15px 0px !important; line-height: 12px; border: 1px solid #ccc; }
.progress .bar { font-size: 10px; }
i.ipad { margin-right: 2px; }
.bblue { background:#5eb2d9; }
.bbrown { background:#b46e4c; }
.bgreen { background: #4ac344; }
.borange { background:#ff8421; }
.bred { background: #ff5d5e; }
.byellow { background: #d7a443; }
/* Form */

form { margin: 0px; }
form button { font-size: 11px !important; }
form input,
form textarea { font-size:12px !important; }
form label { font-size: 12px; line-height: 20px; }
/* Modal */

.modal-header { padding-top:7px; padding-bottom: 7px; }
/* Form */


form input,
form button,
form textarea,
form select { font-size:12px !important; }
form label { font-size: 12px; line-height: 15px; }
.form-inline button { margin-left: 15px; }
.form-horizontal button { font-size:12px; }
.form-horizontal .control-label { width: 105px; }
.form-horizontal .controls { margin-left: 125px; }
.form-horizontal .controls:first-child { *padding-left: 100px;
}
.form-horizontal .form-actions { padding-left: 125px; }
.form-actions { padding: 5px 20px 5px; background:transparent; border-top:0px; }
/* Social */

.social { font-size:16px; margin: 5px 0px; }
.social i { box-shadow:inset 0px 0px 1px #333; height:25px; width:25px; line-height:25px; margin:0px 5px 0px 0px; border-radius:3px; color:#fff; -webkit-transition:background 1s ease; -moz-transition:background 1s ease; -o-transition:background 1s ease; transition:background 1s ease; text-align:center; }
.social i.facebook { background:#3c5b9b; }
.social i.twitter { background:#2daae1; }
.social i.google-plus { background:#f63e28; }
.social i.pinterest { background:#cb2027; }
.social i.linkedin { background:#0173b2; }
.social i:hover { background:#000; -webkit-transition:background 1s ease; -moz-transition:background 1s ease; -o-transition:background 1s ease; transition:background 1s ease; }
.social a,
.social a:visited,
.social a:hover { color:#fff; text-decoration:none; }
/* Back to top */

.totop { position: fixed; bottom: 0px; right: 0px; z-index: 104400; background: #0993d3 !important; }
.totop a,
.totop a:visited { display: block; width: 30px; height: 30px; color: #fff; text-align: center; line-height: 30px; }
.totop a:hover { color: #eee; text-decoration: none; }
/* Image alignment*/

.alignleft,
img.alignleft { margin-right: 8px; margin-top:5px; display: inline; float: left; }
.alignright,
img.alignright { margin-left: 8px; margin-top:5px; display: inline; float: right; }
.aligncenter,
img.aligncenter { margin-right: auto; margin-left: auto; display: block; clear: both; }
/* Half column */

.mcol-left { width: 48%; float: left; }
.mcol-right { width: 48%; float: right; }
.col-left { width: 48%; float: left; }
.col-right { width: 48%; float: right; }
/* Dropdown menu */

.dropdown-big .dropdown-menu { min-width: 230px; padding:8px 10px; }
.dropdown-big .dropdown-menu p { margin: 1px 0px; padding: 1px 0px; font-size: 11px; line-height: 16px; }
.dropdown-big .dropdown-menu a,
.dropdown-big .dropdown-menu a:hover { line-height: 16px; font-size: 12px; background:transparent; padding: 0px; color: #888; }
.dropdown-big .dropdown-menu a:hover { color: #444; }
.dropdown-big .dropdown-menu .drop-foot { text-align: center; }
.dropdown-big .dropdown-menu .drop-foot a { font-size: 11px !important; }
.dropdown-big .dropdown-menu hr { padding:0px; margin: 8px 0px; border-top: 0px solid #aaa; border-bottom: 1px solid #eee; }
.dropdown-big .dropdown-menu i { position: relative; top: -2px; }
.dropdown-big .dropdown-menu h5 { color: #666 !important; line-height: 18px; font-weight: bold; font-size: 13px; }
.dropdown-big .dropdown-menu h6,
.dropdown-big .dropdown-menu h6 a { color: #888 !important; font-size: 12px; line-height: 14px !important; font-weight: normal; }
.dropdown-big .dropdown-menu h6 a:hover { color: #555 !important; text-decoration: none; }
.dropdown-big .dropdown-menu li { line-height: 15px; }
.dropdown-menu { background:#fff; border-radius: 4px; border: 1px solid #ddd; border-bottom: 1px solid #d2d2d2; box-shadow: inset 0px 1px 2px #fff; }
.dropdown-menu li { color: #777; font-size: 12px; line-height: 18px; }
.dropdown-menu li > a { background: #fff; color: #777; line-height: 25px; }
.dropdown-menu li > a:hover { background: #dfe6ea !important; filter:none; color: #888; }
/* Navbar */

.navbar * { font-weight: normal !important; text-shadow:none !important; }
.navbar .container { width: 97% !important; }
.navbar li a { font-size: 12px !important; }
.navbar i { margin-right: 4px; }
.navbar .btn { color: #666 !important; }
.navbar .badge { padding-top: 3px !important; padding-bottom: 3px !important; }
.navbar .badge i { margin-right: 0px; }
.navbar .progress { margin-bottom: 0px; padding: 0px !important; margin: 0px !important; }
/* Header */

header {background: #FFFFFF; box-shadow: 0px 0px 5px #888888; border-bottom: solid 8px #fcd520; border-top: 1px solid #ccc; padding: 15px 0px 15px 0px; background: white; }
header .logo { margin-top: 0px; margin-bottom: 10px; padding-left: 10px; }
header .logo h1 a,
header .logo h1 a:visited,
header .logo h1 a:hover {
    font-size: 30px;
    color: #000;
    text-decoration: none;
    font-weight: normal;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
header .logo .meta { color: #888; line-height: 15px; padding: 0px; margin: 0px; }
.nav.nav-pills > li > a { color: #666; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(to bottom, #ffffff, #e6e6e6); background-repeat: repeat-x;  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
border-color: #e6e6e6 #e6e6e6 #bfbfbf; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
border: 1px solid #ccc;  *border: 0;
border-bottom-color: #c2c2c2; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;  *margin-left: .3em;
margin-right: 5px; }
.nav.nav-pills > li > a:hover { color: #444; background-color: #e6e6e6;  *background-color: #d9d9d9;
text-decoration: none; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
header .nav-pills .open .dropdown-toggle { color: #444; background-color: #e6e6e6;  *background-color: #d9d9d9;
text-decoration: none; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
header .header-data { margin-top: 15px; }
header .header-data .hdata { display: inline-block; width: 85px; margin-right: 15px; }
header .header-data .hdata i { display: inline-block; height: 40px; width: 40px; line-height: 40px; font-size: 17px; text-align: center; color: #fff; border-radius: 50px; box-shadow: inset 0px 0px 1px #777; }
header .header-data .hdata p,
header .header-data .hdata a,
header .header-data .hdata a:hover { display: block; line-height: 16px; font-weight: bold; font-size: 14px; text-align: center; margin-top: 3px; color: #666; }
header .header-data .hdata em { display: block; font-weight: normal; font-style: normal; font-size: 12px; }
/* Notification */

.noty_text { font-size: 12px; line-height: 20px; }


/* Sidebar */
/* Sidebar */
.sidebar { width: 300px; float: left; display: block; background:#f2f2f2; color: #777; position: relative; margin-left: 20px;}
.sidebar .sidebar-dropdown { display: none; }
.sidebar .sidebar-dropdown a { color: #ddd; box-shadow: inset 0px 0px 1px #000; background-color: #343434; background: -webkit-gradient(linear, left top, left bottom, from(#343434), to(#292929)); background: -webkit-linear-gradient(top, #343434, #292929); background: -moz-linear-gradient(top, #343434, #292929); background: -ms-linear-gradient(top, #343434, #292929); background: -o-linear-gradient(top, #343434, #292929); background: linear-gradient(top, #343434, #292929); padding:6px; text-transform: uppercase; text-align: center; font-size: 11px; display: block; }
.sidebar ul { padding: 0px; margin: 0px; background: #455865;  border: 1px solid #3f5361; border-radius: 4px;}
.sidebar ul li { list-style-type: none; }
.sidebar #nav { display: block; width:100%; margin: 0 auto; position: absolute; z-index: 60;}
.sidebar #nav li i { margin-right: 5px;  color:#b1e5f8; width: 28px; height: 28px; line-height: 28px; text-align: center; }
.sidebar #nav li span i { margin: 0px; color: #999; background: transparent; border: 0px; }
.sidebar #nav > li > a { 
	display: block; 
	padding: 7px 20px; 
	font-size: 14px; 
	color: #fff; 
	text-decoration: none; 
	border-bottom: solid 1px #3f5361;
	background: #455865; 
   position:relative; 
   overflow:hidden; 
   white-space:nowrap;
   text-overflow: ellipsis;
}
.sidebar #nav > li > a:hover,
.sidebar #nav > li > a.open,
.sidebar #nav > li > a.subdrop {text-decoration: none;
background-color: #4c8ab4;
color: #FFFFFF; }
.sidebar #nav > li > a span{position:absolute; right:0; top:13px;}
.sidebar #nav > li > a:hover i,
.sidebar #nav > li > a.open i,
.sidebar #nav > li > a:hover span i,
.sidebar #nav > li > a.open span i,
.sidebar #nav > li > a.subdrop span i { color: #fff; background: transparent !important; border: 0px; }
.sidebar #nav li ul { display: none; background: #efefef url("../img/cream.png") repeat; }
.sidebar #nav li ul li a { display: block; background: none; padding: 10px 0px; padding-left: 30px; text-decoration: none; color: #777; box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.1); }
.sidebar #nav li ul li a:hover { background: #eee; border-bottom: 1px solid #ddd; }

/* Main */

.mainbar { position: relative; margin-left: 330px; margin-right: 20px; width: auto;  z-index: 50; min-height: 422px; }
.mainbar .container { width: 100%; padding: 0px !important }
/* Pagination*/

.pagination { margin: 10px 0px 5px 0px; }
.pagination ul > li > a,
.pagination ul > li > span { border: 1px solid #aaa; margin-right: 2px; border-radius: 5px !important; padding: 2px 8px; background-color: #f8f8f8; background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f2f2f2)); background: -webkit-linear-gradient(top, #f8f8f8, #f2f2f2); background: -moz-linear-gradient(top, #f8f8f8, #f2f2f2); background: -ms-linear-gradient(top, #f8f8f8, #f2f2f2); background: -o-linear-gradient(top, #f8f8f8, #f2f2f2); background: linear-gradient(top, #f8f8f8, #f2f2f2); box-shadow: inset 0px 2px 1px #fff; color: #666; }
.pagination ul > li > a:hover { color: #333; }
.pagination .current {font-weight: bold;}
/* Page head */

.mainbar .page-head { background-color: #f8f8f8; background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f2f2f2)); background: -webkit-linear-gradient(top, #f8f8f8, #f2f2f2); background: -moz-linear-gradient(top, #f8f8f8, #f2f2f2); background: -ms-linear-gradient(top, #f8f8f8, #f2f2f2); background: -o-linear-gradient(top, #f8f8f8, #f2f2f2); background: linear-gradient(top, #f8f8f8, #f2f2f2); padding: 4px 20px; border-bottom: 1px solid #fff; box-shadow: inset 0px 1px 1px #fff; }
.mainbar .page-head h2 { font-weight: normal; font-size: 20px; }
/* Bread crumb */

.mainbar .bread-crumb { font-size: 11px; margin-top: 10px; color: #aaa; }
.mainbar .bread-crumb i { margin-right: 3px; }
.mainbar .bread-crumb .divider { margin: 0px 3px; }
.mainbar .bread-crumb a { color: #666; }
.mainbar .bread-crumb a.bread-current { color: #888; }
/* Matter */



.widget { border: 1px solid #c9c9c9; border-radius: 3px; margin-top: 10px; margin-bottom: 20px;
    /* background: #fafafa url('../img/cream.png') repeat; */ }
.widget p { margin: 15px 0px 5px 0px !important; line-height: 20px; }
.widget hr { margin: 8px 0px; border-top: 1px solid #ccc; border-bottom: 1px solid #fff; }
.widget .table { margin: 0px; width: 100%; table-layout:fixed;}
.widget .table td, .widget .table th{word-wrap: break-word;}
.widget .table .btn { font-size: 11px !important; }
.widget .table-bordered { border-radius: 0px; border: 0px; }
.widget .table-bordered th { border-bottom: 1px solid #ddd !important; }
.widget .table-bordered td { border-top: 0px !important; border-bottom: 1px solid #ddd !important; border-radius: 0px !important; }
.widget .table-bordered td:first-child,
.widget .table-bordered th:first-child { border-left: 0px; }
.widget .table-bordered thead:first-child tr:first-child > th:first-child,
.widget .table-bordered tbody:first-child tr:first-child > td:first-child { border-radius: 0px; }
.widget.wblack { background: #fafafa url('../img/black.png') repeat; color: #ddd; border: 1px solid #222; }
.widget.wblack hr { border-top: 1px solid #444; border-bottom: 1px solid #222; }
.widget.wblack a { color: #aaa; }
.widget.wblack a:hover { color: #888; }
.widget .padd,
.modal-body { padding: 13px 15px; }
.widget .widget-head,
.modal-header { background-color: #eef3f6;
background: -webkit-gradient(linear, left top, left bottom, from(#eef3f6), to(#dfe6ea));
background: -webkit-linear-gradient(top, #eef3f6, #dfe6ea);
background: -moz-linear-gradient(top, #eef3f6, #dfe6ea);
background: -ms-linear-gradient(top, #eef3f6, #dfe6ea);
background: -o-linear-gradient(top, #eef3f6, #dfe6ea);
background: linear-gradient(top, #eef3f6, #dfe6ea);
border-top-right-radius: 3px;
border-top-left-radius: 3px;
text-shadow: 0px 1px #d2dbe0;
border-bottom: 1px solid #c1cfd3;
color: #4e595f;
font-size: 14px;
font-weight: bold;
padding: 10px 15px;}
.widget.wblack .widget-head { background-color: #333; background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#111)); background: -webkit-linear-gradient(top, #333, #111); background: -moz-linear-gradient(top, #333, #111); background: -ms-linear-gradient(top, #333, #111); background: -o-linear-gradient(top, #333, #111); background: linear-gradient(top, #333, #111); text-shadow:0px 1px #000; border-bottom: 1px solid #555; border-top: 1px solid #666; box-shadow: inset 0px 1px 1px #444; color: #ccc; }
.widget .widget-head .widget-icons i { font-size: 14px; margin: 0px 4px; }
.widget .widget-head .widget-icons a { color: #aaa; }
.widget .widget-head .widget-icons a:hover { color: #999; }
.widget.wblack .widget-head .widget-icons i { font-size: 14px; margin: 0px 4px; }
.widget .widget-foot,
.modal-footer { background-color: #f8f8f8; background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f2f2f2)); background: -webkit-linear-gradient(top, #f8f8f8, #f2f2f2); background: -moz-linear-gradient(top, #f8f8f8, #f2f2f2); background: -ms-linear-gradient(top, #f8f8f8, #f2f2f2); background: -o-linear-gradient(top, #f8f8f8, #f2f2f2); background: linear-gradient(top, #f8f8f8, #f2f2f2); border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; text-shadow:0px 1px #fff; border-bottom: 1px solid #fff; border-top: 1px solid #ccc; padding: 8px 15px; font-size: 12px; color: #555; box-shadow: inset 0px 1px 1px #fff; }
.widget.wblack .widget-foot { background-color: #111; background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#111)); background: -webkit-linear-gradient(top, #222, #111); background: -moz-linear-gradient(top, #222, #111); background: -ms-linear-gradient(top, #222, #111); background: -o-linear-gradient(top, #222, #111); background: linear-gradient(top, #222, #111); text-shadow:0px 1px #000; border-bottom: 1px solid #000; border-top: 1px solid #222; color: #aaa; box-shadow: inset 0px 1px 1px #444; }
/* Widget white extras */

.widget .nav-tabs > li a { padding: 5px 10px; }
.widget .nav-tabs { margin-bottom: 5px; }
.widget .tab-content { margin-bottom: 10px; }
/* Widget black extras */

.widget.wblack .btn-inverse { border: 1px solid #212121; }
.widget.wblack a.btn-primary,
.widget.wblack a.btn-primary:hover,
.widget.wblack a.btn-warning,
.widget.wblack a.btn-warning:hover,
.widget.wblack a.btn-danger,
.widget.wblack a.btn-danger:hover,
.widget.wblack a.btn-success,
.widget.wblack a.btn-success:hover,
.widget.wblack a.btn-info,
.widget.wblack a.btn-info:hover,
.widget.wblack a.btn-inverse,
.widget.wblack a.btn-inverse:hover { color: #fff; }
.widget.wblack .form-actions { border-radius: 5px; background-color: #111; background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#111)); background: -webkit-linear-gradient(top, #222, #111); background: -moz-linear-gradient(top, #222, #111); background: -ms-linear-gradient(top, #222, #111); background: -o-linear-gradient(top, #222, #111); background: linear-gradient(top, #222, #111); border: 1px solid #111; box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.1); }
.widget.wblack h2,
.widget.wblack h3,
.widget.wblack h4,
.widget.wblack h5,
.widget.wblack h6 { color: #ddd; }
.widget.wblack blockquote { border-left: 3px solid #555; }
.widget.wblack .pagination ul > li > a,
.widget.wblack .pagination ul > li > span { background-color: #111; background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#111)); background: -webkit-linear-gradient(top, #222, #111); background: -moz-linear-gradient(top, #222, #111); background: -ms-linear-gradient(top, #222, #111); background: -o-linear-gradient(top, #222, #111); background: linear-gradient(top, #222, #111); box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.1); border: 1px solid #161616; }
.widget.wblack .pagination ul > li > a:hover { background: #222; }
.widget.wblack .table td { border-top: 1px solid #222; }
.widget.wblack .table tr:hover { background: rgba(255, 255, 255, 0.1); }
.widget.wblack .nav-tabs > .active > a,
.widget.wblack .nav-tabs > .active > a:hover { background: #222; }
.widget.wblack .nav-tabs { margin-bottom: 5px; border-bottom: 1px solid #222; }
.widget.wblack .nav-tabs > li a { padding: 5px 10px; background-color: #111; background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#111)); background: -webkit-linear-gradient(top, #222, #111); background: -moz-linear-gradient(top, #222, #111); background: -ms-linear-gradient(top, #222, #111); background: -o-linear-gradient(top, #222, #111); background: linear-gradient(top, #222, #111); border: 1px solid #222; border-bottom: 0px; box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.1); color: #ccc; font-weight: bold; margin-right: 5px; }
.widget.wblack .nav-tabs > li a:hover { background: #222; }
.widget.wblack .nav-tabs > li.active { border-bottom: 0px; }
.widget.wblack .nav-tabs > li.active a { color: #fff; background: #333 url('../img/back.png'); border-bottom: 0px; }
.widget.wblack .nav-tabs > li.active a:hover { background: #333 url('../img/back.png'); border-bottom: 0px; }
.widget.wblack .tab-content { margin-bottom: 10px; }
/* Calendar */

.fc-header-title h2 { font-size: 15px; line-height: 20px; }
.fc-event-skin { background-color: #ff5d5e; border-color: #ff3839; }
.fc-button-month,
.fc-button-agendaWeek,
.fc-button-agendaDay { margin-top: -48px; right: 20px; }
.fc-widget-header { padding: 7px 0px !important; color: #666; background: #eee; border-color: #ccc; }
.fc-content { background: #fff; }
.fc-content td:hover { background: #f3f3f3; }
/* Current status */

.current-status { list-style-type: none; padding: 0px; margin: 0px; }
.current-status .bold { font-size: 13px; margin-left: 8px; }
.current-status li { padding: 10px 0px; }
/* Today datas */

.today-datas { list-style-type: none; padding: 0px; margin: 10px 0px; }
.today-datas li { display: inline-block; margin-bottom: 5px; margin-right: 10px; padding: 10px 20px; background-color: #f8f8f8; background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f2f2f2)); background: -webkit-linear-gradient(top, #f8f8f8, #f2f2f2); background: -moz-linear-gradient(top, #f8f8f8, #f2f2f2); background: -ms-linear-gradient(top, #f8f8f8, #f2f2f2); background: -o-linear-gradient(top, #f8f8f8, #f2f2f2); background: linear-gradient(top, #f8f8f8, #f2f2f2); background: #f8f8f8 url("../img/cream.png") repeat; text-shadow:0px 1px #fff; border: 1px solid #ccc; box-shadow: inset 0px 0px 3px #fff; max-width: 100%; text-align: center; }
.today-datas li .datas-text { font-size: 11px; padding: 7px 0px 0px 0px; font-weight: normal; }
/* Profile */

.profile { margin-top: 15px; }
/* Error */

.error-page { max-width: 500px; margin: 50px auto; }
.error h1 { font-weight: normal; }
/* Grid */

.show-grid div { background: #eee; text-align: center; margin: 10px 0px; border: 1px solid #ddd; }
/* Slider */

#eq span { height:120px; float:left; margin:15px }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 0.7em; height: 0.7em; cursor: default; border-radius: 50px; background: #fafafa !important; border: 1px solid #ccc !important; box-shadow: 0px 1px 1px #999 !important; }
.ui-slider-horizontal { height: .3em; border: 1px solid #fff !important; box-shadow: 0px 0px 1px #333 !important; background: #f3f3f3 !important; border-radius: 3px; }
.ui-slider-vertical { height: 100px; width: 0.3em; border: 1px solid #fff !important; box-shadow: 0px 0px 1px #333 !important; background: #f3f3f3 !important; border-radius: 3px; }
#master1,
#master2,
#master3,
#master4,
#master5,
#master6 { width: 100%; margin:15px 0px !important; }
.ui-widget-header { border-radius: 3px !important; }
.slider-red .ui-widget-header { background: #dd514c !important; border-color: #dd514c !important; }
.slider-blue .ui-widget-header { background: #36a5c6 !important; border-color: #36a5c6 !important; }
.slider-green .ui-widget-header { background: #44c636 !important; border-color: #44c636 !important; }
.slider-yellow .ui-widget-header { background: #fcd419 !important; border-color: #fcd419 !important; }
.slider-orange .ui-widget-header { background: #fc9419 !important; border-color: #fc9419 !important; }
.slider-violet .ui-widget-header { background: #9919fc !important; border-color: #9919fc !important; }
/* Toggle button */

.toggle-button span { font-size: 11px !important; }
/* Gallery */

.gallery img { max-width: 170px; margin: 5px; padding: 1px; border: 1px solid #aaa; border-radius: 5px; }
/* Error log */

.error-log { height: 300px; overflow: auto; font-family: "Courier New", monospace; }
.error-log ul { list-style-type: none; margin: 0px; padding: 0px; }
.error-log .green { color: #61c221; }
.error-log .red { color: #ff0000; }
/* Media */

.medias .checker { width: 5px !important; }
.medias img { padding: 1px; background: #fff; border: 1px solid #aaa; max-width: 40px; }
/* CL Editor */

.cleditorMain { border: 1px solid #ccc; margin: 10px 0px; }
.cleditorMain textarea,
.cleditorMain iframe { width: 100% !important; }
/* Chart */

#bar-chart,
#bar-chart-black,
#curve-chart,
#live-chart,
#pie-chart,
#pie-chart2,
#pie-chart3 { height: 250px; max-width: 100%; }
#pie-chart,
#pie-chart2,
#pie-chart3 { max-width: 300px; margin: 10px auto; }
/* Support page */

#slist p { display: none; margin:5px 0px; padding:5px 10px; background:#fff; line-height: 25px; border:1px solid #eee; }
#slist { margin-left: 20px; }
#slist li { margin-bottom: 10px; }
#slist li a { display: block; margin-bottom: 0px; }
/* Post form */

.post { margin-top: 20px; }
/* Login and Register form */

.admin-form { max-width: 500px; margin: 50px auto; }
.admin-form form { padding: 10px 0px; }
/* Footer */

footer { margin-top: 30px; background-color: #f8f8f8; background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f2f2f2)); background: -webkit-linear-gradient(top, #f8f8f8, #f2f2f2); background: -moz-linear-gradient(top, #f8f8f8, #f2f2f2); background: -ms-linear-gradient(top, #f8f8f8, #f2f2f2); background: -o-linear-gradient(top, #f8f8f8, #f2f2f2); background: linear-gradient(top, #f8f8f8, #f2f2f2); padding:10px 0px; color: #777; font-size: 12px; border-top: 3px solid #ddd; }
footer a,
footer a:visited { color: #444; }
footer a:hover { color: #333; text-decoration: underline; }
.copy { background: #FFFFFF;
padding: 20px 0px;
text-align: center;
color: #afa6a6;
font-size: 14px;
border-top: solid 1px #c9d7e1;
-moz-box-shadow: inset 0 0 7px #e0e1e1;
-webkit-box-shadow: inset 0 0 7px #e0e1e1;
box-shadow: inset 0 0 7px #e0e1e1;
margin-top: 45px;
}

.searchTop{padding-top:15px;}
.searchTop > input{width: 100px !important;}
 

/* CSS added by HTML Hanger */
.radio,
.checkbox {
  padding-left: 18px;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px;
}
.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 5px;
}
.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}
.two-value{display:block; text-align:center;}
.two-value a{display:inline-block; width:45%;}
.news-index{height:196px; overflow:auto;}

.index-grey{height:280px; background:#E6E6E6; display:block;position:relative;}
.index-grey-btm{position:absolute; background:#DEDEDE; width:100%; bottom:0;}
.padt10{padding-top:10px;}
.second-small tr th:first-child + th, .second-small tr td:first-child + td{width:15%;}
.pad0{padding:0 !important;}
.lineh-36{line-height:20px; min-height:20px !important; padding:5px 0;}
.search-table tr td+td, .search-table tr th+th{width:20%;}
.search-table td, .search-table th{vertical-align:middle;}
.w10per{width:10%;}
.all-center tr td{text-align:center !important}
.all-left tr td{text-align:left !important}
.icons-group{float:left; margin-right:30px;}
.icons30{float:left; width:30px; height:30px; background:url(../img/search-engine30.png) no-repeat; margin-right:5px; opacity:0.4; transition: all 0.3s ease 0s;}
.icons30.google{background-position:0 -30px;}
.icons30.active, .icons30:hover{opacity:1;}

.minh-262{min-height:262px;}
.setH160{height:160px !important;}


/* Homepage */
.wrapper{max-width:900px; margin:0 auto;}
.homepage{padding:0; background:#fff;}
body .main-head{background:#f6f6f6; min-height:90px; border-bottom:solid 2px #0A93D3; padding:0;}
.main-logo{float:left; margin:20px 0 0 20px;}
.home-nav ul{float:right; list-style:none; padding-top:30px;}
.home-nav ul li{display:inline; border-left:solid 1px #ccc; padding:0 20px;}
.home-nav ul li:first-child{border:none;}
.home-content{background:url(../img/bg-banner.jpg) no-repeat center center; width:100%; color:#fff; overflow:hidden;}
.home-content-in{background:url(../img/alphaB-90.png) repeat; width:100%; height:350px; overflow:hidden;}
.home-content h2{color:#fff; text-align:center; font-size:40px;font-family: 'helvetica-condensedboldRg'; padding:50px 0 10px;}
.home-content h3{color:#fff; text-align:center; font-size:30px;font-family: 'helvetica_ce_35_thinregular'; font-weight:normal;}

 @font-face {
 font-family: 'helvetica-condensedboldRg';
 src: url('../font/helcondensed/helvetica_condensedbold-webfont.eot');
 src: url('../font/helcondensed/helvetica_condensedbold-webfont.eot?#iefix') format('embedded-opentype'),  url('../font/helcondensed/helvetica_condensedbold-webfont.woff') format('woff'),  url('../font/helcondensed/helvetica_condensedbold-webfont.ttf') format('truetype'),  url('../font/helcondensed/helvetica_condensedbold-webfont.svg#helvetica-condensedboldRg') format('svg');
 font-weight: normal;
 font-style: normal;
}

@font-face {
    font-family: 'helvetica_ce_35_thinregular';
    src: url('../font/helvlight/ufonts.com_helvetica_neue_ce_35_thin-webfont-webfont.eot');
    src: url('../font/helvlight/ufonts.com_helvetica_neue_ce_35_thin-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/helvlight/ufonts.com_helvetica_neue_ce_35_thin-webfont-webfont.ttf') format('truetype'),
         url('../font/helvlight/ufonts.com_helvetica_neue_ce_35_thin-webfont-webfont.svg#helvetica_ce_35_thinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.home-form{width:80%; padding-left:10%; float:left; padding-top:60px;}
.home-form .textfield{height:20px; padding:20px; background:#fff; border:solid 1px #ccc; float:left; border-radius:0; box-shadow:none; width:516px;}
.home-form .bluebutton{float:left; height:62px; background:#0A93D3; border:solid #fff 1px; width:158px; color:#fff; font-size:24px !important;font-family: 'helvetica_ce_35_thinregular'; margin-left:2px;}
.home-form .bluebutton:hover{background:#0981BB;}

/*Radio Button*/
.radio-bt {float:left; width:100%; min-height:29px;}
.custom-radio {position:relative; float:left; margin-right:5px;}
.custom-radio input {position:absolute; left:2px; top:3px; margin:0; z-index:-1; opacity:0; filter:alpha(opacity=0); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}
.custom-radio label {display:block; position:relative; z-index:2; padding-right:1em; padding:4px 5px 4px 26px; cursor:pointer; margin-left:-2px; height:17px;}
.custom-radio label {background:url(../img/radiobutton.png) no-repeat;}
.custom-radio label {background-position:5px 4px; margin:0}
.custom-radio label.checked {background-position:5px -196px;}
.custom-radio label.checked.hover {background-position:5px -196px;}
.custom-radio label.hover {background-position:5px 4px;}
.banner-down{background:#e6e6e6; text-align:center; padding:10px 0;}
.banner-down span{display:inline-block; padding:0 20px;}

.home-text{width:100%; padding:40px 0; overflow:hidden;}
.home-text .span4{width:270px;}
.home-text h4{font-family: 'Open Sans', sans-serif; font-size:24px; color:#333; font-weight:600;}
.home-text p{font-size:13px; line-height:1.4; padding:10px 0 0 0; color:#666;}
.viewmore{float:right; background:#0A93D3; border:solid #fff 1px; color:#fff; font-size:12px !important; padding:2px 10px;}
.viewmore:hover{background:#0981BB; color:#fff;}
.testimonail{padding:20px 0; width:100%; border:solid 1px #ddd; border-width:1px 0; margin-top:50px; position:relative;font-family: 'Open Sans', sans-serif;}
.testimonail .mark{background:url(../img/quote.png) no-repeat center center #fff; position:absolute; height:40px; width:8%; top:-20px; left:46%;}
.testimonail h3{text-align:center; display:block;font-size:20px; color:#666; font-weight:600;}
.c-msg{font-size:20px !important; display:block; text-align:center; font-weight:300;}
.c-name{text-align:center; font-weight:700;}

.home-content.inner .home-content-in{height:auto; padding-bottom:15px;}
.home-content.inner h2{padding-top:15px;}

.price-box{border:solid 1px #aaa; border-radius:5px; overflow:hidden; width:30%; float:left; margin:1%;}
.pricebox-head{background: #5d8e01;
background: -moz-linear-gradient(top,  #5d8e01 1%, #86b614 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#5d8e01), color-stop(100%,#86b614));
background: -webkit-linear-gradient(top,  #5d8e01 1%,#86b614 100%);
background: -o-linear-gradient(top,  #5d8e01 1%,#86b614 100%);
background: -ms-linear-gradient(top,  #5d8e01 1%,#86b614 100%);
background: linear-gradient(to bottom,  #5d8e01 1%,#86b614 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d8e01', endColorstr='#86b614',GradientType=0 );
display:block; height:60px; border-bottom:solid 2px #aaa; color:#fff;}
.pricebox-head .left{float:left; margin:12px 0 0 20px;}
.pricebox-head .left em{font-style:normal; font-size:26px; display:block; font-family: 'helvetica-condensedboldRg';}
.pricebox-head .right{float:right; margin:20px 20px 0 0; font-weight:700; font-size:36px;}
.pricebox-head .right sup{font-size:20px;}
.pricebox-content{display:block; padding:10px; min-height:340px;}
.pricebox-content ul{list-style:none; margin:0; padding:0;}
.pricebox-content li{padding:7px 5px 7px 20px; border-bottom:solid 1px #ddd; position:relative;}
.pricebox-content li i{position:absolute; left:0; top:10px; color:#009900}

.pricebox-head.color2{background: #01568f;
background: -moz-linear-gradient(top,  #01568f 0%, #0f77b4 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#01568f), color-stop(100%,#0f77b4));
background: -webkit-linear-gradient(top,  #01568f 0%,#0f77b4 100%);
background: -o-linear-gradient(top,  #01568f 0%,#0f77b4 100%);
background: -ms-linear-gradient(top,  #01568f 0%,#0f77b4 100%);
background: linear-gradient(to bottom,  #01568f 0%,#0f77b4 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01568f', endColorstr='#0f77b4',GradientType=0 );
}
.pricebox-head.color3{background: #8f3302;
background: -moz-linear-gradient(top,  #8f3302 0%, #b44e10 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8f3302), color-stop(100%,#b44e10));
background: -webkit-linear-gradient(top,  #8f3302 0%,#b44e10 100%);
background: -o-linear-gradient(top,  #8f3302 0%,#b44e10 100%);
background: -ms-linear-gradient(top,  #8f3302 0%,#b44e10 100%);
background: linear-gradient(to bottom,  #8f3302 0%,#b44e10 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f3302', endColorstr='#b44e10',GradientType=0 );
}
.pricebtn{overflow:hidden; padding:10px;}
.prices-foot{display:block; padding-top:15px; width:100%; overflow:hidden;}
.prices-foot span{display:block; width:100%; padding:5px 0; margin:0;}
.prices-foot .span1{background:url(../img/ps-logos.png) no-repeat center center; height:24px;}
.prices-foot .span2{background:url(../img/rapidssl.png) no-repeat center center; height:50px;}
.prices{display:block; padding-left:2%;}
/* Responsive */

@media (max-width: 480px) {
 .mainbar .page-head h2 {
 float: none;
}
 .mainbar .bread-crumb {
 float: none;
 margin-top: 0px;
}
 .col-left {
 width: 100%;
 float: none;
 margin-right: none;
}
 .col-right {
 width: 100%;
 float: none;
}
 .fc-button-month, .fc-button-agendaWeek, .fc-button-agendaDay {
 display: none;
}
.fieldgap1{margin-bottom:5px !important;}
.change .radio.inline { margin-left:0 !important; margin-right:10px; }
.searchTop{padding-top:0;}
.row-fluid.adjusted .controls-row [class*="span"]+[class*="span"] {
margin-left:0
}
.mob-padt10{padding-top:10px;}
.home-nav ul{padding:0 5px 0 0;}
.home-form{width:96%; padding-left:2%; padding-top:15px;}

.home-form .textfield{width:99%; padding:10px 0; text-indent:20px;}
.home-form .bluebutton{width:99%; text-align:center; height:40px; font-size:20px !important;}
.home-form .custom-radio{width:49%; margin:0;}
.home-form .radio-bt{margin-top:10px;}
.home-text .span4{width:90%; padding:0 0 20px 5%; margin:0;}
.price-box{width:94%;}
.pricebox-content{min-height:50px;}
}
@media (max-width: 479px) {
.home-content h2{padding-top:15px;}
}
 @media (max-width: 767px) {
 body {
 margin: 0 auto;
}
 body .container {
 width: 95%;
 padding-left: 2.5%;
 padding-right: 2.5%;
}
 header, .content, footer {
 margin-left: -20px;
 margin-right: -20px;
}
 header, .mainbar .matter, footer {
 padding-left: 20px;
 padding-right: 20px;
}
 .form-inline button {
 margin-left:0px;
}
 header {
 padding-top: 0px !important;
 padding-bottom: 20px !important;
}
 header .logo {
 padding: 0px;
 display: none;
}
.nav.nav-pills {
 margin:0;
}
 .navbar, .navbar-inner {
 margin-top: 0px !important;
 margin-bottom: 0px !important;
}
 .nav-collapse .dropdown-menu {
 padding: 10px 10px !important;
}
 .nav-collapse .dropdown-menu > li {
 color: #999 !important;
}
 .nav-collapse .dropdown-menu a {
 color: #777;
}
 .nav-collapse .dropdown-menu a:hover {
 color: #888;
 background:transparent !important;
}
 .nav-collapse .dropdown-menu hr {
 border-top: 1px solid #eee;
 border-bottom: 1px solid #ccc;
}
 .sidebar {
 float: none;
 width: 100%;
}
 .sidebar .sidebar-dropdown {
 display: block;
}
 .sidebar #nav {
 display: none;
}
 .mainbar {
 margin: 0px;
 float: none;
}
 .today-datas {
 text-align: center;
}


}
 @media (min-width: 768px) and (max-width: 979px) {
 .form {
 margin: 0px !important;
}
 form .control-group {
 margin:0px !important;
}
 form .control-label {
 float: none !important;
 width: auto !important;
 text-align: left !important;
}
 form .controls {
 float: none !important;
 margin-left: 0px !important;
}
 form .form-actions {
 padding-left: 0px !important;
}
 .navbar {
 margin-top: 0px !important;
 margin-bottom: 0px !important;
}
 .nav-collapse .dropdown-menu {
 padding: 10px 10px !important;
}
 .nav-collapse .dropdown-menu > li {
 color: #999 !important;
}
 .nav-collapse .dropdown-menu a {
 color: #777;
}
 .nav-collapse .dropdown-menu a:hover {
 color: #888;
 background:transparent !important;
}
 .nav-collapse .dropdown-menu hr {
 border-top: 1px solid #eee;
 border-bottom: 1px solid #ccc;
}
 .sidebar {
 width: 200px;
}
 .mainbar {
 margin-left: 200px;
}
header .logo h1 a, header .logo h1 a:visited, header .logo h1 a:hover{font-size:30px;}
.row-fluid.adjust .span8, .row-fluid.adjust .span6, .row-fluid.adjust .span4{width:100%; margin-left:0;}
.home-form .textfield{width:410px;}
.home-text .span4{width:230px;}
}

li.error, ul.errorlist, li.errorlist {color:red;}
li.success {font-weight: bold; color:green;}

input#s {
    padding-left:30px;
    height: 25px;
    background:url('/static/img/search_glass_icon.png') no-repeat;
    background-size:15px;
    background-position: 7px 7px;
}

.tooltip {
    text-shadow: none;
}
.btn-yellow {
	background: -moz-linear-gradient(top, #fcd520 0%, #c6a718 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcd520), color-stop(100%,#c6a718));
	background: -webkit-linear-gradient(top, #fcd520 0%,#c6a718 100%);
	background: -o-linear-gradient(top, #fcd520 0%,#fcd520 100%);
	background: -ms-linear-gradient(top, #fcd520 0%,#fcd520 100%);
	background: linear-gradient(to bottom, #fcd520 0%,#fcd520 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcd520', endColorstr='#c6a718',GradientType=0 );
	color: #000;
	text-transform: uppercase;
	height: 35px;
	border: solid 1px #c6a718;
	font-size: 14px !important;
}


.btn-yellow:hover{
	background: -moz-linear-gradient(top, #fcd520 0%, #fcd520 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcd520), color-stop(100%,#fcd520));
	background: -webkit-linear-gradient(top, #fcd520 0%,#fcd520 100%);
	background: -o-linear-gradient(top, #fcd520 0%,#fcd520 100%);
	background: -ms-linear-gradient(top, #fcd520 0%,#fcd520 100%);
	background: linear-gradient(to bottom, #fcd520 0%,#fcd520 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcd520', endColorstr='#fcd520',GradientType=0 );
}

.selectpicker {
	background-color: #ebebeb;
	font-size: 14px !important;
}

ul.selectpicker li:hover {
	background-color: #dfe6ea;
}


.dropdown-submenu:hover>a { 
	background: #dfe6ea !important;
}

.dropdown-submenu:hover>a { 
	color:#fff; 
	text-decoration:none; 
	background-color:#0081c2; 
	background-image:-moz-linear-gradient(top, #dfe6ea, #dfe6ea); 
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#dfe6ea), to(#dfe6ea)); 
	background-image:-webkit-linear-gradient(top, #dfe6ea, #dfe6ea); 
	background-image:-o-linear-gradient(top, #dfe6ea, #dfe6ea); 
	background-image:linear-gradient(to bottom, #dfe6ea, #dfe6ea); 
	background-repeat:repeat-x; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ffdfe6ea', GradientType=0)!important;
}

.btn-disabled {
	padding: 8px 15px;
}

.btn-register, .btn-login {
	height: 35px;
	text-transform: uppercase;
	font-weight: bold;
}

.btn-register {
	margin-left: -16px;
	text-shadow: none;
}

.btn-register:hover{
	color: #fff;
}

.navbar-inner {
	margin: 10px;
	background: #455865;
	background: -moz-linear-gradient(top, #536a79 0%, #455865 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#536a79), color-stop(100%,#455865));
	background: -webkit-linear-gradient(top, #536a79 0%,#455865 100%);
	background: -o-linear-gradient(top, #536a79 0%,#455865 100%);
	background: -ms-linear-gradient(top, #536a79 0%,#455865 100%);
	background: linear-gradient(to bottom, #536a79 0%,#455865 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#536a79', endColorstr='#455865',GradientType=0 );
}

.brand {
	color: #fff !important;
}

.icon-home {
	color: #8aa3b3;
}
.content {
	margin-top: 50px;
}

header .btn-default, header .btn-large {
	background-color: #e6ebed !important;
	font-size: 12px;
	color: #4e6067;
	padding: 7px;
	border: solid 1px #bac7cb;
	text-align: center;
	margin-top: 1px;
	border-radius: 4px;
	-moz-box-shadow: inset 0 0 5px #bfced4;
	-webkit-box-shadow: inset 0 0 5px #bfced4;
	box-shadow: inset 0 0 5px #bfced4;
}

.date-form{
    padding: 10px;
}
.date-form input {
    margin: 1px;
}

.helptext {
    margin-left: 10px;
}

#flot-placeholder {
    height: 200px;
}

.flot {
    padding: 10px;
}

#flot-tooltip {
    font-size: 12px;
    font-family: Verdana, Arial, sans-serif;
    position: absolute;
    display: none;
    border: 2px solid;
    padding: 2px;
    background-color: #FFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    z-index: 9999;
}

.fa {
    font-size: 16px;
    padding: 0 2px;
}
