/* 
Document   : custom
Created on : Sep 29, 2013, 6:39:02 PM
Author     : Khalid Mushtaq
Description:
    Purpose of the stylesheet follows.
*/

#btn-user-join-us {
    margin: 20px 0px 0px 50px;
}
#frm-user select.error, #frm-user input.error {
    border: 1px solid red !important;
}
#frm-user label.error {
    color: red !important;
}