
body {
	background: url('../img/tiny_grid.png');
}

h2 {
	font-weight: 500;
	font-size: 20px;	
}

h3 {
	margin-bottom: 10px;
}

ul {
	list-style: none;
	margin: 0 0 20px 0;
}

p {
	padding: 0 0 20px;
}

.bold {
	font-weight: 300;
}

.push {
	padding-top: 100px;
}

/** Navigation **/

.navbar-inner {
	background: #fff;	
}

.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
	height: 40px;
	padding: 20px 0;
}

.navbar .brand {
	color: #000;
	padding: 5px 20px 12px;
    font-size: 30px;
}

.nav-collapse {
	float: right;
}

.navbar .nav {
	margin: 10px 10px 0 0;
}

.navbar .nav > li {
	margin: 0 15px;	
}

.navbar .nav > li.btn {
	margin-top: -5px;
}
.navbar .nav > li.btn a {
	color: #fff;	
}
.navbar .nav > li.btn a:hover {
	color: #fff;
}

.navbar .nav > li > a {
	padding: 0;
}

.navbar .nav > li > a {
	color: #000;
}
.navbar .nav > li > a:hover {
	color: #555;
}

.navbar .nav .active > a {
	color: #000;
	background: transparent;
}
.navbar .nav .active > a:hover {
	color: #555;
	background: transparent;
}

.nav-list > .active > a,
.nav-list > .active > a:hover {
	color: #f20;
}

/** Carousel **/

.hero-unit {
	background: transparent;
	height: 280px;
	margin-bottom: 38px;
}

.carousel-caption {
	position: absolute;
	top: 10px;
	width: 360px;
	height: 250px;
	background: transparent;
}

.carousel-caption h1 {
	color: #000;
	font-size: 24px;
	line-height: 36px;
	margin: -20px 0px 0px 50px;
}

.carousel-control {
	left: -55px;
	opacity: 0.5;
	-webkit-transition: opacity 1s ease 0s;
	-o-transition: opacity 1s ease 0s;
	-moz-transition: opacity 1s ease 0s;
	transition: opacity 1s ease 0s;
}

.carousel-control:hover {
	opacity: 1;
}

.carousel-control.right {
	right: -40px;
}

.hero-unit img {
	float: right;
	margin-right: 12%;
}

/** Features **/

.featuresrow {
	position: absolute;
	left: 0;
	right: 0;
	background: #fff;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.featurediv {
	position: relative;
	left: 50%;
	width: 1200px;
	margin-left: -610px;
	padding: 20px 0;
}

.feature-divicon {
	height: 120px;
	float: left;
	margin: 15px 25px 20px 20px;
} 

.feature-icon {
	width: 55px;
	height: 55px;
}

.secondrow {
	top: 127px;
	margin-left: -600px;
	position: absolute;
}

/** Screenshots **/

.screenshots {
	margin-top: 120px;
	margin-bottom: 50px;
}

.divscreenshot {
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.1) inset;
	display: inline-block;
}

.screenshot {
	width: 94.7%;
	border: 10px solid #fff;
}

.zoom {
	position: absolute;
	padding: 99px 157px;
	opacity: 0.6;
	-webkit-transition: opacity 1s ease 0s;
	-o-transition: opacity 1s ease 0s;
	-moz-transition: opacity 1s ease 0s;
	transition: opacity 1s ease 0s;
}
.zoom:hover {
	opacity: 1;
}

/** Footer **/

.bottom {
	position: absolute;
	left: 0;
	right: 0;
	background: #fff;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.25),inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.bottomdiv {
	position: relative;
	left: 50%;
	width: 1200px;
	margin-left: -600px;
	padding: 20px 0;
}

.span3 p {
	width: 220px;
}

.span3 a {
	color: #000;
}
.span3 a:hover {
	color: #999;
	text-decoration: none;
}

/** Copyright **/

footer {
	margin: 85px 0 0 0;
	text-align: center;
	font-size: 11px;
} 

footer p {
	padding: 0 0 5px;
}

/* Landscape phones and down */
@media (max-width: 488px) {
	body {
		padding-right: 0;
		padding-left: 0;	
	}
	
	.push {
		padding-top: 0;
	}
	
	.navbar-fixed-top, .navbar-fixed-bottom {
		margin-right: 0;
		margin-left: 0;	
	}
	
	.nav-collapse {
		clear: inherit;
	}
	.nav-collapse, .nav-collapse.collapse {
		height: 42px;
		overflow: inherit;
		position: absolute;
		left: 50%;
		margin: 50px 0 0 -50px;
		width: 100px;
	}
	
	.nav-collapse .nav > li {
		float: left;
	}
	
	.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
		height: 90px;
	}
	
	.navbar .brand {
		position: absolute;
		left: 50%;
		width: 300px;
		margin-left: -150px;
		padding: 0;
		text-align: center;
	}
	
	.navbar .nav {
		margin: 10px 35px 0 0;
	}
	
	.nav-collapse .nav > li > a:hover,
    .nav-collapse .dropdown-menu a:hover {
    	background-color: transparent;
    }
    
    .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
	    font-weight: normal;
    }
    
    .carousel-caption {
		width: 90%;
		top: 185px;
	}
    
    .hero-unit img {
		width: 78%;
	}
	
	.carousel-caption h1 {
		font-size: 1.4em;
		line-height: 1em;
		padding-right: 10px;
		margin: -10px 0 0 0;
	}
	
	.carousel-inner {
		height: 260px;
	}
    
    .carousel-control.right {
		right: -55px;
	}
	
	.hero-unit {
		margin-bottom: -20px;
	}
	
	.featuresrow {
		padding: 0 0 20px 0;	
	}
	
	.featurediv {
		width: 280px;
		margin-left: -168px;
		margin-bottom: -25px;
		padding: 20px 20px;
	}
	
	.feature-divicon {
		height: 55px;
		padding: 0 0 0 5px;
	}
	 
	h2 {
		margin-left: -5px;
		margin-top: 22px;
		text-align: left;
		float: left;
	}
	
	.bold {
		font-weight: 300;
		margin-left: 10px;
		float: right;
		text-align: justify;
	}
	
	.divscreenshot {
		margin: 20px auto;
		width: 90%;
		pointer-events: none;
		cursor: default;
	}
	
	.screenshots {
		margin-top: 620px;
		margin-bottom: 30px;
		margin-left: 8%;
		margin-right: 0;
	}
	
	.screenshot {
		width: 92.4%;
	}
	
	.zoom {
		display: none;
	}
	
	.bottom {
		margin: 0 0 20px 0;
		padding: 15px 0;
	}
	
	.bottomdiv {
		width: 250px;
		margin-left: -168px;
		padding: 40px;
	}
	
	.bottomdiv ul li {
		line-height: 23px;
	}
	
	footer {
		margin: 780px 0 0 0;
	}
}
 
/* Landscape phone to portrait tablet */
@media (min-width: 489px) and (max-width: 767px) {
	body {
		padding-right: 0;
		padding-left: 0;	
	}
	
	.carousel-caption {
		width: 40%;
		top: 5px;
	}
	
	.push {
		padding-top: 0;
	}
	
	.navbar-fixed-top, .navbar-fixed-bottom {
		margin-right: 0;
		margin-left: 0;	
	}
	
	.nav-collapse {
		clear: inherit;
	}
	.nav-collapse, .nav-collapse.collapse {
		height: 42px;
		overflow: inherit;
	}
	
	.nav-collapse .nav > li {
		float: left;
	}
	
	.nav-collapse .nav > li > a:hover,
    .nav-collapse .dropdown-menu a:hover {
    	background-color: transparent;
    }
    
    .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
	    font-weight: normal;
    }
	
	.item > img { display: none; }
	
	.hero-unit {
		height: 150px;
	}
	
	.hero-unit img {
		width: 45%;
	}
	
	.carousel-caption h1 {
		font-size: 1.4em;
		line-height: 1.5em;
		padding-right: 10px;
		margin: -10px 0 0 0;
	}
	
	.carousel-inner {
		height: 220px;
	}
	
	.featuresrow {
		padding: 0 0 20px 0;	
	}
	
	.featurediv {
		width: 489px;
		margin-left: -254px;
		margin-bottom: -25px;
		padding: 20px 0 0 0;
	}
	
	.span4 {
		padding: 0 10px 20px 10px;	
	}
	
	.feature-divicon {
		height: 100px;
		margin: 0px 25px 10px 20px;
	}
	
	.bold {
		font-weight: 300;
	}
	
	.divscreenshot {
		width: 80%;
		margin: 0 auto;
		pointer-events: none;
		cursor: default;
	}
	
	.screenshots {
		margin-top: 520px;
		margin-bottom: 60px;
		margin-left: 10%;
		margin-right: -10%;
	}
	
	.screenshot {
		width: 95.6%;
	}
	
	.zoom {
		display: none;
	}
	
	.bottom {
		margin: 0 0 20px 0;
		padding: 15px 0;
	}
	
	.bottomdiv {
		width: 419px;
		margin-left: -254px;
		padding-left: 70px;
	}
    
    .span3 {
	    float: left;
	    width: 360px;
    }
    
    .span3 p {
	    width: 330px;
    }
    
    footer {
	    margin: 630px 0 15px 0;
    }
	
}

/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 979px) {
	
	.container {
		padding-top: 0;
		padding-bottom: 0;
	}
	
	.nav-collapse {
		clear: inherit;
	}
	.nav-collapse, .nav-collapse.collapse {
		height: 42px;
		overflow: inherit;
	}
	
	.nav-collapse .nav > li {
		float: left;
	}
	
	.nav-collapse .nav > li > a:hover,
    .nav-collapse .dropdown-menu a:hover {
    	background-color: transparent;
    }
    
    .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
	    font-weight: normal;
    }
    
	.features {
		height: 250px;
		top: 470px;
	}
	
	.footer {
		top: 995px;
	}
	
	.push {
		padding-top: 0;
	}
	
	.carousel-caption {
		width: 250px;
		top: 25px;
	}
	
	.carousel-caption h1 {
		font-size: 20px;
		margin: -20px 0 0 0;
	}
	
	.carousel-control {
		left: -70px;	
	}
	.carousel-control.right {
		right: -70px;
	}
	
	.hero-unit {
		margin-bottom: -28px;
	}
	
	.hero-unit img {
		margin-right: 1%;
		width: 50%;
	}
	
	.feature-divicon {
		height: 180px;
	}
	
	.featuresrow {
		padding: 0 0 20px 0;	
	}
	
	.featurediv {
		width: 744px;
		margin-left: -362px;
	}
	
	.bottom {
		margin: 0 0 20px 0;
		padding: 15px 0;
	}
	
	.bottomdiv {
		width: 744px;
		margin-left: -362px;
		padding: 0;
	}
	
	footer {
		margin: 220px 0 0 0;
		padding-top: 40px;
	}
	
	.bold {
		font-weight: 300;
	}
	
	.feature-divicon {
		height: 64px;
		width: 150px;
		margin-left: 70px;
	}
	
	.screenshots {
		margin-top: 330px;
		margin-bottom: 65px;
	}
	
	.screenshot {
		width: 91.3%;
	}
	
	.zoom {
		padding: 52px 87px;
	}
	
	.span3 p {
		width: 168px;
	}
}

/* Little desktop */

@media (min-width: 980px) and (max-width: 1199px) {
	
	.navbar-fixed-top {
		width: 100%;	
	}
	
	.carousel-control.right {
		right: -60px;
	}
	
	.carousel-caption {
		width: 340px;
	}
	
	.hero-unit img {
		margin-right: 6%;
	}

	.features {
		height: 190px;
		width: 100%;
	}
	
	.featurediv {
		width: 960px;
		margin-left: -485px;
		padding: 10px 0;
	}
	
	.bottom {
		margin: 0 0 20px 0;
	}
	
	.bottomdiv {
		width: 960px;
		margin-left: -485px;
		padding: 0;
	}
	
	footer {
		margin: 70px 0 0 0;
	}
	
	.screenshot {
		width: 93.5%;
	}
	
	.zoom {
		padding: 76px 123px; 
	}
    
    .span3 {
	    margin-top: 10px;
    }
    
/* Large desktop */

@media (min-width: 1200px) {
	.screenshots {
		margin-top: 75px;
		margin-bottom: 90px;
	}
	
	.span4 {
		width: 369px;
	}
}

}


input#s {
    padding-left:40px;
    background:url('/static/img/search_glass_icon.png') no-repeat;
    background-size:20px;
    background-position: 10px 10px;
}

.header-navbar {
	box-shadow: 0px 0px 5px #888888;
	/* border-bottom: solid 2px #fcd520; */

    background: #FFFFFF;
    box-shadow: 0px 0px 5px #888888;
    /* border-bottom: solid 8px #fcd520; */
    border-top: 1px solid #ccc;
    /* padding: 15px 0px 15px 0px; */
}

.btn-yellow {
	background: -moz-linear-gradient(top, #fcd520 0%, #c6a718 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcd520), color-stop(100%,#c6a718));
	background: -webkit-linear-gradient(top, #fcd520 0%,#c6a718 100%);
	background: -o-linear-gradient(top, #fcd520 0%,#fcd520 100%);
	background: -ms-linear-gradient(top, #fcd520 0%,#fcd520 100%);
	background: linear-gradient(to bottom, #fcd520 0%,#fcd520 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcd520', endColorstr='#c6a718',GradientType=0 );
	color: #000;
	text-transform: uppercase;
	height: 35px;
	border: solid 1px #c6a718;
	font-size: 14px !important;
}


.btn-yellow:hover{
	background: -moz-linear-gradient(top, #fcd520 0%, #fcd520 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcd520), color-stop(100%,#fcd520));
	background: -webkit-linear-gradient(top, #fcd520 0%,#fcd520 100%);
	background: -o-linear-gradient(top, #fcd520 0%,#fcd520 100%);
	background: -ms-linear-gradient(top, #fcd520 0%,#fcd520 100%);
	background: linear-gradient(to bottom, #fcd520 0%,#fcd520 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcd520', endColorstr='#fcd520',GradientType=0 );
}